{
    "openapi": "3.0.1",
    "info": {
      "title": "Integration API reference docs",
      "description": "Use the Integration API to push data to and retrieve data from Talon.One in real time.\nFor more background information about this API, see [Integration API overview](/docs/dev/integration-api/overview)\n\nFor example, use this API to share shopping cart information as a session with Talon.One and evaluate promotion\nrules. You can also create custom events to track specific actions that do not fit into the session data model.\n\nEnsure you [authenticate](#section/Authentication) to make requests to the API.\n\n<div class=\"redoc-section\">\n  <p class=\"title\">Are you looking for a different API?</p>\n\n  If you need the API to:\n\n  - Interact with the Campaign Manager for backoffice operations, see [the Management API reference docs](https://docs.talon.one/management-api).\n  - Integrate with Talon.One from a CEP or CDP platform, see [the Third-party API reference docs](https://docs.talon.one/third-party-api).\n\n</div>\n\n# Authentication\n\n<SecurityDefinitions />\n",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://goflink.europe-west1.talon.one/"
      }
    ],
    "tags": [
      {
        "name": "Audiences",
        "description": "Represents an arbitrary group of customer profiles. Audiences can be synced from Customer Data Platforms such as mParticle or created from scratch.\n"
      },
      {
        "name": "Catalogs",
        "description": "Represents a catalog of cart items with unique SKUs. Cart item catalogs allow you to synchronize your entire inventory with Talon.One.\nSee the [documentation](https://docs.talon.one/docs/product/account/dev-tools/managing-cart-item-catalogs).\n"
      },
      {
        "name": "Coupons",
        "description": "Coupons are unique codes belonging to a particular campaign. They don't define any behavior on their own, instead the campaign ruleset can include rules that validate coupons and carry out particular effects.\n"
      },
      {
        "name": "Customer profiles",
        "description": "Represents the customer's information. For instance, their contact information.\n"
      },
      {
        "name": "Customer sessions",
        "description": "Represents the data related to a customer session. Typically, a customer session is the value and content of the customer's cart.\n\nSessions can be anonymous or linked to a customer profile and they have a life cycle from `open` to `closed`.\nIn general, a session is closed when the customer completes the checkout step.\n\nSessions are a key concept of Talon.One, we strongly recommend you read the [documentation about customer sessions](/docs/dev/concepts/entities#customer-session).\n"
      },
      {
        "name": "Events",
        "description": "Represents a single occurrence of various customer actions. There are 2 versions:\n- For V1 events, each customer **session** contains one or more events. For example, updating a customer session records a `talon_session_updated` event.\n- For V2 events, each customer **profile** contains one or more events. For example, updating a customer session records a `talon_session_updated` event linked to the profile in question.\n"
      },
      {
        "name": "Referrals",
        "description": "A referral is a code shared between a customer and a prospect.\nA referral is defined by an advocate, a friend and a referral code. The advocate is the person who\ninvited their friend via referral program. The friend is the person who receives the invite from an advocate.\nThe referral code is a code which is generated similar to a coupon code the code can be redeemed by\neither one or multiple advocates.\n"
      }
    ],
    "paths": {
      "/v2/customer_sessions/{customerSessionId}": {
        "get": {
          "tags": [
            "Customer sessions"
          ],
          "summary": "Get customer session",
          "description": "Get the details of the given customer session.\n\nYou can get the same data via other endpoints that also apply changes, which can help you save requests and increase performance. See:\n\n- [Update customer session](#tag/Customer-sessions/operation/updateCustomerSessionV2)\n- [Update customer profile](#tag/Customer-profiles/operation/updateCustomerProfileV2)\n",
          "operationId": "getCustomerSession",
          "parameters": [
            {
              "name": "customerSessionId",
              "in": "path",
              "description": "The `integration ID` of the customer session. You set this ID when you create a customer session.\n\nYou can see existing customer session integration IDs in the Campaign Manager's **Sessions** menu, or via the\n[List Application session endpoint](https://docs.talon.one/management-api/#operation/getApplicationSessions).\n",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationCustomerSessionResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ]
        },
        "put": {
          "tags": [
            "Customer sessions"
          ],
          "summary": "Update customer session",
          "description": "Update or create a [customer session](/docs/dev/concepts/entities#customer-session).\nFor example, use this endpoint to share the content of a customer's cart with Talon.One and to check which\npromotion rules apply.\n\n**Note:** The currency for the session and the cart items in the session is the same as the\nApplication that owns this session.\n\n### Session management\n\nThe Talon.One platform supports multiple simultaneous sessions for the same profile. If you have multiple ways of accessing the same Application you can either:\n\n- Track multiple independent sessions or,\n- Use the same session across all of them.\n\nYou should share sessions when application access points share other state, such as the user's cart.\nIf two points of access to the application have independent states, for example a user can have different\nitems in their cart across the two) they should use independent customer session ID's.\n\nSee more information and tips about session management in the [documentation](/docs/dev/concepts/entities#customer-session).\n\n### Sessions and customer profiles\n\n- To link a session to a customer profile, set the `profileId` parameter in the request body to a customer profile's `integrationId`.\n- While you can create an anonymous session with `profileId=\"\"`, we recommend you use a guest ID instead.\n\n**Note:** You do **not** have to create a customer profile first. If the specified profile does not exist, an empty profile is created automatically.\n\n<div class=\"redoc-section\">\n  <p class=\"title\">Performance tips</p>\n\n  Updating a customer session returns a response with the requested integration state. Use the `responseContent` property to save yourself extra API calls. For example, you can get\n  the customer profile details directly without extra requests.\n\n  For more information, see the [integration tutorial](https://docs.talon.one/docs/dev/tutorials/integrating-talon-one).\n</div>\n",
          "operationId": "updateCustomerSessionV2",
          "parameters": [
            {
              "name": "dry",
              "in": "query",
              "description": "Indicates whether to persist the changes. Changes are ignored when `dry=true`.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "customerSessionId",
              "in": "path",
              "description": "The `integration ID` of the customer session. You set this ID when you create a customer session.\n\nYou can see existing customer session integration IDs in the Campaign Manager's **Sessions** menu, or via the\n[List Application session endpoint](https://docs.talon.one/management-api/#operation/getApplicationSessions).\n",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationStateV2"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "409": {
              "description": "Too many requests - Avoid parallel requests, see the [docs](/docs/dev/tutorials/integrating-talon-one/#managing-parallel-requests).",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v2/customer_sessions/{customerSessionId}/returns": {
        "post": {
          "tags": [
            "Customer sessions"
          ],
          "summary": "Return cart items",
          "description": "Create a new return request for the specified cart items.\n\nThis endpoint automatically changes the session state from `closed` to `partially_returned`.\n\nIts behavior depends on whether [cart item flattening](https://docs.talon.one/docs/product/campaigns/campaign-evaluation/#flattened-cart-items)\nis enabled for the Application.\n\n**Note:** This will roll back any effects associated with these cart items. For more information, see\n[our documentation on session states](https://docs.talon.one/docs/dev/concepts/entities#customer-session-states)\nand [this tutorial](https://docs.talon.one/docs/dev/tutorials/partially-returning-a-session).\n",
          "operationId": "returnCartItems",
          "parameters": [
            {
              "name": "dry",
              "in": "query",
              "description": "Indicates whether to persist the changes. Changes are ignored when `dry=true`.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "customerSessionId",
              "in": "path",
              "description": "The `integration ID` of the customer session. You set this ID when you create a customer session.\n\nYou can see existing customer session integration IDs in the Campaign Manager's **Sessions** menu, or via the\n[List Application session endpoint](https://docs.talon.one/management-api/#operation/getApplicationSessions).\n",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnIntegrationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationStateV2"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v2/customer_profiles/{integrationId}": {
        "put": {
          "tags": [
            "Customer profiles"
          ],
          "summary": "Update customer profile",
          "description": "Update or create a [Customer Profile](/docs/dev/concepts/entities#customer-profile). This endpoint triggers the Rule Builder.\n\nYou can use this endpoint to:\n- Set attributes on the given customer profile. Ensure you create the attributes in the Campaign Manager, first.\n- Modify the audience the customer profile is a member of.\n\n<div class=\"redoc-section\">\n  <p class=\"title\">Performance tips</p>\n\n  Updating a customer profile returns a response with the requested integration state.\n\n  You can use the `responseContent` property to save yourself extra API calls. For example, you can get\n  the customer profile details directly without extra requests.\n</div>\n",
          "operationId": "updateCustomerProfileV2",
          "parameters": [
            {
              "name": "integrationId",
              "in": "path",
              "description": "The integration identifier for this customer profile. Must be:\n- Unique within the deployment.\n- Stable for the customer. Do not use an ID that the customer can update themselves. For example, you can use a database ID.\n\nOnce set, you cannot update this identifier.\n",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "runRuleEngine",
              "in": "query",
              "description": "Indicates whether to run the Rule Engine.\n\nIf `true`, the response includes:\n- The effects generated by the triggered campaigns are returned in the `effects` property.\n- The created coupons and referral objects.\n\nIf `false`:\n- The rules are not executed and the `effects` property is always empty.\n- The response time improves.\n- You cannot use `responseContent` in the body.\n",
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "name": "dry",
              "in": "query",
              "description": "Indicates whether to persist the changes. Changes are ignored when `dry=true`.\n\nThis property only works when `runRuleEngine=true`.\n",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileIntegrationRequestV2"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationStateV2"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "409": {
              "description": "Too many requests - Avoid parallel requests, see the [docs](/docs/dev/tutorials/integrating-talon-one/#managing-parallel-requests).",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v2/customer_profiles": {
        "put": {
          "tags": [
            "Customer profiles"
          ],
          "summary": "Update multiple customer profiles",
          "description": "Update (or create) up to 1000 [customer profiles](/docs/dev/concepts/entities#customer-profile) in 1 request.\n\nThe `integrationId` must be any identifier that remains stable for\nthe customer. Do not use an ID that the customer can update\nthemselves. For example, you can use a database ID.\n\nA customer profile [can be linked to one or more sessions](/integration-api/#tag/Customer-sessions).\n",
          "operationId": "updateCustomerProfilesV2",
          "parameters": [
            {
              "name": "silent",
              "in": "query",
              "description": "Possible values: `yes` or `no`.\n- `yes`: Increases the perfomance of the API call by returning a 204 response.\n- `no`: Returns a 200 response that contains essential data such as the updated customer profiles and session-related information.\n",
              "schema": {
                "type": "string",
                "default": "yes"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleCustomerProfileIntegrationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/MultipleCustomerProfileIntegrationResponseV2"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v2/audiences": {
        "post": {
          "tags": [
            "Audiences"
          ],
          "summary": "Create audience",
          "description": "Create an audience. The audience can be created directly from scratch or can come from third party platforms.\n\nTo create an audience from an existing audience from a [technology partner](https://docs.talon.one/docs/dev/technology-partners/overview):\n1. Set the `integration` property to `mparticle`, `segment` etc., depending on a third-party platform.\n1. Set `integrationId` to the ID of this audience in a third-party platform.\n\nTo create an audience from an existing audience in another platform:\n1. Do not use the `integration` property.\n1. Set `integrationId` to the ID of this audience in the 3rd-party platform.\n\nTo create an audience from scratch:\n1. Only set the `name` property.\n\nOnce you create your first audience, audience-specific rule conditions are enabled in the Rule Builder.\n",
          "operationId": "createAudienceV2",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewAudience"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "Created",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Audience"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "409": {
              "description": "Conflict. An Audience with this ID already exists for this integration.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v2/audiences/{audienceId}": {
        "put": {
          "tags": [
            "Audiences"
          ],
          "summary": "Update audience name",
          "description": "Update the name of the given audience created by a third-party integration. Sending a request to this endpoint does **not** trigger the rule engine.\n\nTo update the audience's members, use the [Update customer profile endpoint](#tag/Customer-profiles/operation/updateCustomerProfileV2).\n",
          "operationId": "updateAudienceV2",
          "parameters": [
            {
              "name": "audienceId",
              "in": "path",
              "description": "The ID of the audience. You get it via the `id` property when [creating an audience](#operation/createAudienceV2).",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAudience"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Audience"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        },
        "delete": {
          "tags": [
            "Audiences"
          ],
          "summary": "Delete audience",
          "description": "Delete an audience created by a third-party integration.\n\n**Warning:** This endpoint also removes any associations recorded between a customer profile and this audience.\n",
          "operationId": "deleteAudienceV2",
          "parameters": [
            {
              "name": "audienceId",
              "in": "path",
              "description": "The ID of the audience. You get it via the `id` property when [creating an audience](#operation/createAudienceV2).",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "No Content",
              "content": {}
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/audiences/{audienceId}/memberships": {
        "delete": {
          "tags": [
            "Audiences"
          ],
          "summary": "Delete audience memberships",
          "description": "Remove all members from this audience.\n",
          "operationId": "deleteAudienceMembershipsV2",
          "parameters": [
            {
              "name": "audienceId",
              "in": "path",
              "description": "The ID of the audience. You get it via the `id` property when [creating an audience](#operation/createAudienceV2).",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "No Content",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/customer_audiences": {
        "post": {
          "tags": [
            "Audiences"
          ],
          "summary": "Update multiple customer profiles' audiences",
          "description": "Update the specified customer profiles with the specified audiences. Use this endpoint\nwhen customers join or leave audiences.\n\nThe limit of customer profiles per request is 1000.\n",
          "operationId": "updateCustomerProfileAudiences",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerProfileAudienceRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "204": {
              "description": "No Content",
              "content": {}
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v2/audience_customers/{audienceId}/attributes": {
        "put": {
          "tags": [
            "Audiences"
          ],
          "summary": "Update profile attributes for all customers in audience",
          "description": "Update the specified profile attributes to the provided values for all customers in the specified audience.\n",
          "operationId": "updateAudienceCustomersAttributes",
          "parameters": [
            {
              "name": "audienceId",
              "in": "path",
              "description": "The ID of the audience. You get it via the `id` property when [creating an audience](#operation/createAudienceV2).",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeQuery"
                }
              }
            },
            "required": true
          },
          "responses": {
            "204": {
              "description": "No Content",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v1/events": {
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Track event",
          "description": "**Important:** This endpoint is **DEPRECATED**. Use [Track Event V2](https://docs.talon.one/integration-api/#tag/Events/operation/trackEventV2) instead.\n\n<blockquote>\n Triggers a custom event in a customer session. You can then check this event in your rules. **Important:** Talon.One offers a set of [built-in events](/docs/dev/concepts/events), ensure you do not create a custom event when you can use a built-in event.\n For example, use this endpoint to trigger an event when a user updates their payment information.\n\n Before using this endpoint, create your event as a custom attribute of type `event`.  See the [Developer docs](/docs/dev/concepts/events/#creating-a-custom-event).\n\n An event is always part of a session. If either the profile or the session does not exist,\n a new empty profile/session is created. If the specified session already exists, it must belong to the same `profileId` or an error will be returned.\n</blockquote>\n",
          "operationId": "trackEvent",
          "parameters": [
            {
              "name": "dry",
              "in": "query",
              "description": "Indicates whether to persist the changes. Changes are ignored when `dry=true`.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewEvent"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "Created",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationState"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "409": {
              "description": "Too many requests - Avoid parallel requests, see the [docs](/docs/dev/tutorials/integrating-talon-one/#managing-parallel-requests).",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v2/events": {
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Track event V2",
          "description": "Triggers a custom event. You can then check this event in your rules.\n\nTalon.One offers a set of [built-in events](/docs/dev/concepts/events), ensure you do not create\na custom event when you can use a built-in event.\n\nFor example, use this endpoint to trigger an event when a customer shares a link to a product.\nSee the [tutorial](https://docs.talon.one/docs/product/tutorials/referrals/incentivizing-product-link-sharing).\n\n**Important:**\n- `profileId` is required. An event V2 is associated with a customer profile.\n- Before using this endpoint, create your event as a custom attribute of type `event`.\nSee the [Developer docs](/docs/dev/concepts/events/#creating-a-custom-event).\n",
          "operationId": "trackEventV2",
          "parameters": [
            {
              "name": "silent",
              "in": "query",
              "description": "Possible values: `yes` or `no`.\n- `yes`: Increases the perfomance of the API call by returning a 204 response.\n- `no`: Returns a 200 response that contains essential data such as the updated customer profiles and session-related information.\n",
              "schema": {
                "type": "string",
                "default": "yes"
              }
            },
            {
              "name": "dry",
              "in": "query",
              "description": "Indicates whether to persist the changes. Changes are ignored when `dry=true`.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationEventV2Request"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationStateV2"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v1/referrals": {
        "post": {
          "tags": [
            "Referrals"
          ],
          "summary": "Create referral code for an advocate",
          "description": "Creates a referral code for an advocate. The code will be valid for the referral campaign for which is created, indicated in the `campaignId` parameter, and will be associated with the profile specified in the `advocateProfileIntegrationId` parameter as the advocate's profile.\n",
          "operationId": "createReferral",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewReferral"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "Created",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Referral"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v1/referrals_for_multiple_advocates": {
        "post": {
          "tags": [
            "Referrals"
          ],
          "summary": "Create referral codes for multiple advocates",
          "description": "Creates unique referral codes for multiple advocates. The code will be valid for the referral campaign for which it is created, indicated in the `campaignId` parameter, and one referral code will be associated with one advocate using the profile specified in the `advocateProfileIntegrationId` parameter as the advocate's profile.\n",
          "operationId": "createReferralsForMultipleAdvocates",
          "parameters": [
            {
              "name": "silent",
              "in": "query",
              "description": "Possible values: `yes` or `no`.\n- `yes`: Increases the perfomance of the API call by returning a 204 response.\n- `no`: Returns a 200 response that contains essential data such as the updated customer profiles and session-related information.\n",
              "schema": {
                "type": "string",
                "default": "yes"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewReferralsForMultipleAdvocates"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "Created",
              "content": {
                "application/json": {
                  "schema": {
                    "required": [
                      "data",
                      "totalResultSize"
                    ],
                    "type": "object",
                    "properties": {
                      "totalResultSize": {
                        "type": "integer"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Referral"
                        }
                      }
                    }
                  }
                }
              }
            },
            "204": {
              "description": "No Content",
              "content": {}
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v1/customer_data/{integrationId}": {
        "delete": {
          "tags": [
            "Customer profiles"
          ],
          "summary": "Delete customer's personal data",
          "description": "Delete all attributes on the customer profile and on entities that reference this customer profile.\n\n**Important:** To preserve performance, we recommend avoiding deleting customer data during peak-traffic hours.\n",
          "operationId": "deleteCustomerData",
          "parameters": [
            {
              "name": "integrationId",
              "in": "path",
              "description": "The integration ID of the customer profile. You can get the `integrationId` of a profile using:\n- A customer session integration Id with the [Update customer session endpoint](https://docs.talon.one/integration-api/#operation/updateCustomerSessionV2).\n- The Management API with the [List application's customers endpoint](https://docs.talon.one/management-api/#operation/getApplicationCustomers).\n",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "No Content",
              "content": {}
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ]
        }
      },
      "/v1/coupon_reservations/{couponValue}": {
        "post": {
          "tags": [
            "Coupons"
          ],
          "summary": "Create coupon reservation",
          "description": "Create a coupon reservation for specified customer profiles on the specified coupon.\n\nReserving a coupon allows you to associate a coupon code to a given customer(s).\nYou can then list the reserved coupons of a given customer\nwith the [List customer data endpoint](/integration-api/#operation/getCustomerInventory).\n\nIf a coupon gets created for a specific user, it will automatically show up in their coupons.\n\nWhen a user redeems a coupon, a reservation is automatically created after the redemption and\nthe used coupon will be returned in the [List customer data endpoint](/integration-api/#operation/getCustomerInventory).\n\n**Important:**\n- This endpoint creates a **soft** reservation. _Any_ customer\n  can use a reserved coupon code and proceed to checkout.\n- To create a hard reservation, use the\n  [Create coupons](/management-api/#operation/createCoupons) or\n  [Create coupons for multiple recipients](/management-api/#operation/createCouponsForMultipleRecipients) endpoints\n  setting the `recipientsIntegrationId` property.\n\nFor example, you can use this endpoint and `List customer data` to create a _coupon wallet_ by\nreserving coupon codes for a customer, and then displaying their coupon wallet\nwhen they visit your store.\n",
          "operationId": "createCouponReservation",
          "parameters": [
            {
              "name": "couponValue",
              "in": "path",
              "description": "The code of the coupon.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponReservations"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "Created",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Coupon"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        },
        "delete": {
          "tags": [
            "Coupons"
          ],
          "summary": "Delete coupon reservations",
          "description": "Remove all the coupon reservations from the provided customer profile integration IDs and the provided\ncoupon code.\n",
          "operationId": "deleteCouponReservation",
          "parameters": [
            {
              "name": "couponValue",
              "in": "path",
              "description": "The code of the coupon.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponReservations"
                }
              }
            },
            "required": true
          },
          "responses": {
            "204": {
              "description": "No Content",
              "content": {}
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ],
          "x-codegen-request-body-name": "body"
        }
      },
      "/v1/coupon_reservations/customerprofiles/{couponValue}": {
        "get": {
          "tags": [
            "Coupons"
          ],
          "summary": "List customers that have this coupon reserved",
          "description": "Return all customers that have this coupon marked as reserved.\n\nCoupons are reserved in the following ways:\n- To create a soft reservation (any customer can use the coupon), use the [Create coupon reservation](#operation/createCouponReservation) endpoint.\n- To create a hard reservation (only the given customer can use the coupon), create a coupon in the Campaign Manager for a given `recipientIntegrationId` or use the [Create coupons](/management-api/#operation/createCoupons) or [Create coupons for multiple recipients](/management-api/#operation/createCouponsForMultipleRecipients) endpoints.\n",
          "operationId": "getReservedCustomers",
          "parameters": [
            {
              "name": "couponValue",
              "in": "path",
              "description": "The code of the coupon.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "required": [
                      "data",
                      "totalResultSize"
                    ],
                    "type": "object",
                    "properties": {
                      "totalResultSize": {
                        "type": "integer"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/CustomerProfile"
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ]
        }
      },
      "/v1/customer_profiles/{integrationId}/inventory": {
        "get": {
          "tags": [
            "Customer profiles"
          ],
          "summary": "List customer data",
          "description": "Return the customer inventory regarding entities referencing this customer profile's `integrationId`.\n\nTypical entities returned are: customer profile information, referral codes, loyalty points and reserved coupons.\nReserved coupons also include redeemed coupons.\n\nYou can also use this endpoint to get the projected loyalty balances in order to notify\nyour customers about points that are about to expire, or to remind them how many points they have.\n",
          "operationId": "getCustomerInventory",
          "parameters": [
            {
              "name": "integrationId",
              "in": "path",
              "description": "The integration ID of the customer profile. You can get the `integrationId` of a profile using:\n- A customer session integration Id with the [Update customer session endpoint](https://docs.talon.one/integration-api/#operation/updateCustomerSessionV2).\n- The Management API with the [List application's customers endpoint](https://docs.talon.one/management-api/#operation/getApplicationCustomers).\n",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "profile",
              "in": "query",
              "description": "Set to `true` to include customer profile information in the response.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "referrals",
              "in": "query",
              "description": "Set to `true` to include referral information in the response.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "coupons",
              "in": "query",
              "description": "Set to `true` to include coupon information in the response.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "loyalty",
              "in": "query",
              "description": "Set to `true` to include loyalty information in the response.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "giveaways",
              "in": "query",
              "description": "Set to `true` to include giveaways information in the response.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "loyaltyProjectionEndDate",
              "in": "query",
              "description": "Set an end date to query the projected loyalty balances. You can project results up to 31 days from today.",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CustomerInventory"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key_v1": []
            }
          ]
        }
      },
      "/v1/catalogs/{catalogId}/sync": {
        "put": {
          "tags": [
            "Catalogs"
          ],
          "summary": "Sync cart item catalog",
          "description": "Perform one or more of the following sync actions on this cart item catalog, up to 1000 actions:\n\n- Add an item to the catalog.\n- Edit the attributes of an item in the catalog.\n- Edit the attributes of more than one item in the catalog.\n- Remove an item from the catalog.\n- Remove more than one item from the catalog.\n\n**Note**: For more information, see [our documentation on managing cart item catalogs](https://docs.talon.one/docs/product/account/dev-tools/managing-cart-item-catalogs).\n\n### Filtering cart items\n\nUse [cart item attributes](https://docs.talon.one/docs/product/account/dev-tools/managing-cart-item-catalogs#displaying-the-details-and-content-of-a-catalog)\nto filter items and select the ones you want to edit or delete when editing or deleting more than one item\nat a time.\n\nThe `filters` object contains the following properties:\n\n- `attr`: A [cart item attribute](https://docs.talon.one/docs/product/account/dev-tools/managing-attributes)\n  connected to the catalog. It is applied to all items in the catalog.\n- `op`: The filtering operator indicating the relationship between the value of each\n  cart item in the catalog and the value of the `value` property for the attribute selected\n  in `attr`.\n\n  The value of `op` can be one of the following:\n\n  - `EQ`: Equal to `value`\n  - `LT`: Less than `value`\n  - `LE`: Less than or equal to `value`\n  - `GT`: Greater than `value`\n  - `GE`: Greater than or equal to `value`\n  - `IN`: One of the comma-separated values that `value` is set to.\n\n  **Note:** `GE`, `LE`, `GT`, `LT` are for numeric values only.\n\n- `value`: The value of the attribute selected in `attr`.\n\n### Payload examples\n\nSynchronization actions are sent as `PUT` requests. See the structure for each action:\n\n<details>\n  <summary><strong>Adding an item to the catalog</strong></summary>\n  <div>\n\n  ```json\n  {\n    \"actions\": [\n      {\n        \"payload\": {\n          \"attributes\": {\n            \"color\": \"Navy blue\",\n            \"type\": \"shoe\"\n          },\n          \"replaceIfExists\": true,\n          \"sku\": \"SKU1241028\"\n        },\n        \"type\": \"ADD\"\n      }\n    ]\n  }\n  ```\n  </div>\n</details>\n\n<details>\n  <summary><strong>Editing the attributes of an item in the catalog</strong></summary>\n  <div>\n\n  ```json\n  {\n    \"actions\": [\n      {\n        \"payload\": {\n          \"attributes\": {\n            \"age\": 11,\n            \"origin\": \"germany\"\n          },\n          \"createIfNotExists\": false,\n          \"sku\": \"SKU1241028\"\n        },\n        \"type\": \"PATCH\"\n      }\n    ]\n  }\n  ```\n  </div>\n</details>\n\n<details>\n  <summary><strong>Editing the attributes of several items at once</strong></summary>\n  <div>\n\n  ```json\n  {\n    \"actions\": [\n      {\n        \"payload\": {\n          \"attributes\": {\n            \"color\": \"red\"\n          },\n          \"filters\": [\n            {\n              \"attr\": \"color\",\n              \"op\": \"EQ\",\n              \"value\": \"blue\"\n            }\n          ]\n        },\n        \"type\": \"PATCH_MANY\"\n      }\n    ]\n  }\n  ```\n\n  </div>\n</details>\n\n<details>\n  <summary><strong>Removing an item from the catalog</strong></summary>\n  <div>\n\n  ```json\n  {\n    \"actions\": [\n      {\n        \"payload\": {\n          \"sku\": \"SKU1241028\"\n        },\n        \"type\": \"REMOVE\"\n      }\n    ]\n  }\n  ```\n\n  </div>\n</details>\n\n<details>\n  <summary><strong>Removing several items from the catalog at once</strong></summary>\n  <div>\n\n  ```json\n  {\n    \"actions\": [\n      {\n        \"payload\": {\n          \"filters\": [\n            {\n              \"attr\": \"color\",\n              \"op\": \"EQ\",\n              \"value\": \"blue\"\n            }\n          ]\n        },\n        \"type\": \"REMOVE_MANY\"\n      }\n    ]\n  }\n  ```\n  </div>\n</details>\n\n<details>\n  <summary><strong>Removing shoes of sizes above 45 from the catalog</strong></summary>\n  <div>\n  <p>\n  Let's imagine that we have a shoe store and we have decided to stop selling\n  shoes larger than size 45. We can remove from the catalog all the shoes of sizes above 45\n  with a single action:</p>\n\n  ```json\n  {\n    \"actions\": [\n      {\n        \"payload\": {\n          \"filters\": [\n            {\n              \"attr\": \"size\",\n              \"op\": \"GT\",\n              \"value\": \"45\"\n            }\n          ]\n        },\n        \"type\": \"REMOVE_MANY\"\n      }\n    ]\n  }\n  ```\n  </div>\n</details>\n",
          "operationId": "syncCatalog",
          "parameters": [
            {
              "name": "catalogId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSyncRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Catalog"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid API key",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            },
            "404": {
              "description": "Not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErrorResponseWithStatus"
                  }
                }
              }
            }
          },
          "x-codegen-request-body-name": "body"
        }
      }
    },
    "components": {
      "schemas": {
        "ErrorResponse": {
          "required": [
            "message"
          ],
          "type": "object",
          "properties": {
            "message": {
              "type": "string",
              "description": "A message describing the error."
            },
            "errors": {
              "type": "array",
              "description": "An array of individual problems encountered during the request.",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "ErrorResponseWithStatus": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string"
            },
            "errors": {
              "type": "array",
              "description": "An array of individual problems encountered during the request.",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            },
            "StatusCode": {
              "type": "integer",
              "description": "The error code"
            }
          }
        },
        "APIError": {
          "required": [
            "source",
            "title"
          ],
          "type": "object",
          "properties": {
            "title": {
              "type": "string",
              "description": "Short description of the problem."
            },
            "details": {
              "type": "string",
              "description": "Longer description of this specific instance of the problem."
            },
            "source": {
              "$ref": "#/components/schemas/ErrorSource"
            }
          }
        },
        "FeatureFlag": {
          "required": [
            "name",
            "value"
          ],
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "The name for the featureflag."
            },
            "value": {
              "type": "string",
              "description": "The value for the featureflag."
            },
            "created": {
              "type": "string",
              "description": "The exact moment this entity was last created.",
              "format": "date-time"
            },
            "modified": {
              "type": "string",
              "description": "The exact moment this entity was last modified.",
              "format": "date-time"
            }
          }
        },
        "ErrorSource": {
          "type": "object",
          "properties": {
            "pointer": {
              "type": "string",
              "description": "Pointer to the path in the payload that caused this error."
            },
            "parameter": {
              "type": "string",
              "description": "Query parameter that caused this error."
            },
            "line": {
              "type": "string",
              "description": "Line number in uploaded multipart file that caused this error. 'N/A' if unknown."
            },
            "resource": {
              "type": "string",
              "description": "Pointer to the resource that caused this error."
            }
          },
          "description": "The source of the current error, exactly one of `pointer`, `parameter` or `line` will be defined.\n"
        },
        "Entity": {
          "required": [
            "created",
            "id"
          ],
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Unique ID for this entity. Not to be confused with the Integration ID, which is set by your integration layer and used in most endpoints.",
              "example": 6
            },
            "created": {
              "type": "string",
              "description": "The exact moment this entity was created.",
              "format": "date-time",
              "example": "2020-06-10T09:05:27.993483Z"
            }
          }
        },
        "EntityWithTalangVisibleID": {
          "required": [
            "created",
            "id"
          ],
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Unique ID for this entity."
            },
            "created": {
              "type": "string",
              "description": "The exact moment this entity was created.",
              "format": "date-time"
            }
          }
        },
        "MutableEntity": {
          "required": [
            "modified"
          ],
          "type": "object",
          "properties": {
            "modified": {
              "type": "string",
              "description": "The exact moment this entity was last modified.",
              "format": "date-time",
              "example": "2021-09-12T10:12:42Z"
            }
          }
        },
        "AccountEntity": {
          "required": [
            "accountId"
          ],
          "type": "object",
          "properties": {
            "accountId": {
              "type": "integer",
              "description": "The ID of the account that owns this entity.",
              "example": 3886
            }
          }
        },
        "UserEntity": {
          "required": [
            "userId"
          ],
          "type": "object",
          "properties": {
            "userId": {
              "type": "integer",
              "description": "The ID of the account that owns this entity."
            }
          }
        },
        "EmailEntity": {
          "required": [
            "email"
          ],
          "type": "object",
          "properties": {
            "email": {
              "type": "string",
              "description": "The email address associated with your account.",
              "format": "email",
              "example": "john.doe@example.com"
            }
          }
        },
        "ApplicationEntity": {
          "required": [
            "applicationId"
          ],
          "type": "object",
          "properties": {
            "applicationId": {
              "type": "integer",
              "description": "The ID of the application that owns this entity.",
              "example": 322
            }
          }
        },
        "LoyaltyProgramEntity": {
          "required": [
            "programID"
          ],
          "type": "object",
          "properties": {
            "programID": {
              "type": "integer",
              "description": "The ID of the loyalty program that owns this entity.",
              "example": 125
            }
          }
        },
        "CampaignGroupEntity": {
          "type": "object",
          "properties": {
            "campaignGroups": {
              "type": "array",
              "description": "The IDs of the campaign groups that own this entity.",
              "items": {
                "type": "integer"
              }
            }
          }
        },
        "MultiApplicationEntity": {
          "required": [
            "applicationIds"
          ],
          "type": "object",
          "properties": {
            "applicationIds": {
              "minItems": 1,
              "type": "array",
              "description": "The IDs of the applications that are related to this entity.",
              "items": {
                "type": "integer"
              }
            }
          }
        },
        "CampaignEntity": {
          "required": [
            "campaignId"
          ],
          "type": "object",
          "properties": {
            "campaignId": {
              "title": "Campaign ID",
              "type": "integer",
              "description": "The ID of the campaign that owns this entity.",
              "example": 211
            }
          }
        },
        "ApplicationSessionEntity": {
          "required": [
            "sessionId"
          ],
          "type": "object",
          "properties": {
            "sessionId": {
              "type": "integer",
              "description": "The globally unique Talon.One ID of the session where this entity was created."
            }
          }
        },
        "ApplicationCustomerEntity": {
          "type": "object",
          "properties": {
            "profileId": {
              "type": "integer",
              "description": "The globally unique Talon.One ID of the customer that created this entity.",
              "example": 138
            }
          }
        },
        "IntegrationEntity": {
          "required": [
            "created",
            "integrationId"
          ],
          "type": "object",
          "properties": {
            "integrationId": {
              "maxLength": 1000,
              "type": "string",
              "description": "The integration ID set by your integration layer.",
              "format": "string",
              "example": "URNGV8294NV"
            },
            "created": {
              "type": "string",
              "description": "The exact moment this entity was created.",
              "format": "date-time",
              "example": "2020-02-07T08:15:22Z"
            }
          }
        },
        "IntegrationProfileEntity": {
          "type": "object",
          "properties": {
            "profileId": {
              "type": "string",
              "description": "ID of the customer profile set by your integration layer.\n\n**Note:** If the customer does not yet have a known `profileId`, we recommend you use a guest `profileId`.\n",
              "example": "URNGV8294NV"
            }
          }
        },
        "CouponValue": {
          "type": "object",
          "properties": {
            "value": {
              "title": "Coupon Code",
              "minLength": 4,
              "type": "string",
              "description": "The coupon code.",
              "example": "XMAS-20-2021"
            }
          }
        },
        "CouponConstraints": {
          "type": "object",
          "properties": {
            "usageLimit": {
              "maximum": 999999,
              "minimum": 0,
              "type": "integer",
              "description": "The number of times the coupon code can be redeemed. `0` means unlimited redemptions but any campaign usage limits will still apply.\n",
              "example": 100
            },
            "discountLimit": {
              "maximum": 999999,
              "minimum": 0,
              "type": "number",
              "description": "The amount of discounts that can be given with this coupon code.\n",
              "example": 30
            },
            "startDate": {
              "type": "string",
              "description": "Timestamp at which point the coupon becomes valid.",
              "format": "date-time"
            },
            "expiryDate": {
              "type": "string",
              "description": "Expiry date of the coupon. Coupon never expires if this is omitted, zero, or negative.",
              "format": "date-time"
            }
          }
        },
        "CodeGeneratorSettings": {
          "required": [
            "couponPattern",
            "validCharacters"
          ],
          "type": "object",
          "properties": {
            "validCharacters": {
              "type": "array",
              "description": "List of characters used to generate the random parts of a code. Defaults to a list equivalent to the\n`[A-Z, 0-9]` regexp.\n",
              "example": [
                "A",
                "B",
                "C",
                "D",
                "E",
                "2",
                "0"
              ],
              "items": {
                "type": "string"
              }
            },
            "couponPattern": {
              "maxLength": 100,
              "minLength": 3,
              "type": "string",
              "description": "The pattern used to generate coupon codes. The character `#` is a placeholder and is replaced by a random character from the `validCharacters` set.\n",
              "example": "SUMMER-####-####"
            }
          }
        },
        "Session": {
          "required": [
            "created",
            "token",
            "userId"
          ],
          "type": "object",
          "properties": {
            "userId": {
              "type": "integer",
              "description": "The ID of the user of this session.",
              "example": 109
            },
            "token": {
              "type": "string",
              "description": "The token to use as a bearer token to query Management API endpoints.",
              "example": "dy_Fa_lQ4iDAnqldJFvVEmnsN8xDTxej19l0LZDBJhQ"
            },
            "created": {
              "type": "string",
              "description": "Unix timestamp indicating when the session was first created.",
              "format": "date-time"
            }
          }
        },
        "LoginParams": {
          "required": [
            "email",
            "password"
          ],
          "type": "object",
          "properties": {
            "email": {
              "type": "string",
              "description": "The email address associated with your account.",
              "format": "email",
              "example": "john.doe@example.com"
            },
            "password": {
              "type": "string",
              "description": "The password for your account.",
              "example": "admin123456"
            }
          },
          "description": ""
        },
        "AttributesMandatory": {
          "type": "object",
          "properties": {
            "campaigns": {
              "type": "array",
              "description": "List of mandatory attributes for campaigns.",
              "items": {
                "type": "string"
              }
            },
            "coupons": {
              "type": "array",
              "description": "List of mandatory attributes for campaigns.",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Arbitrary settings associated with attributes."
        },
        "AttributesSettings": {
          "type": "object",
          "properties": {
            "mandatory": {
              "$ref": "#/components/schemas/AttributesMandatory"
            }
          },
          "description": "Arbitrary settings associated with attributes."
        },
        "UpdateApplication": {
          "required": [
            "currency",
            "name",
            "timezone"
          ],
          "type": "object",
          "properties": {
            "name": {
              "minLength": 1,
              "type": "string",
              "description": "The name of this application.",
              "example": "My Application"
            },
            "description": {
              "type": "string",
              "description": "A longer description of the application.",
              "example": "A test Application"
            },
            "timezone": {
              "minLength": 1,
              "type": "string",
              "description": "A string containing an IANA timezone descriptor.",
              "example": "Europe/Berlin"
            },
            "currency": {
              "minLength": 1,
              "type": "string",
              "description": "The default currency for new customer sessions.",
              "example": "EUR"
            },
            "caseSensitivity": {
              "type": "string",
              "description": "The case sensitivity behavior to check coupon codes in the campaigns of this Application.",
              "example": "sensitive",
              "enum": [
                "sensitive",
                "insensitive-uppercase",
                "insensitive-lowercase"
              ]
            },
            "attributes": {
              "type": "object",
              "properties": {},
              "description": "Arbitrary properties associated with this campaign."
            },
            "limits": {
              "type": "array",
              "description": "Default limits for campaigns created in this application.",
              "items": {
                "$ref": "#/components/schemas/LimitConfig"
              }
            },
            "campaignPriority": {
              "type": "string",
              "description": "Default [priority](https://docs.talon.one/docs/product/applications/setting-up-campaign-priorities) for campaigns\ncreated in this Application.\n",
              "example": "universal",
              "default": "universal",
              "enum": [
                "universal",
                "stackable",
                "exclusive"
              ]
            },
            "exclusiveCampaignsStrategy": {
              "type": "string",
              "description": "The strategy used when choosing exclusive campaigns for evaluation.",
              "example": "listOrder",
              "default": "listOrder",
              "enum": [
                "listOrder",
                "lowestDiscount",
                "highestDiscount"
              ]
            },
            "defaultDiscountScope": {
              "type": "string",
              "description": "The default scope to apply `setDiscount` effects on if no scope was provided with the effect.\n",
              "enum": [
                "sessionTotal",
                "cartItems",
                "additionalCosts"
              ]
            },
            "enableCascadingDiscounts": {
              "type": "boolean",
              "description": "Indicates if discounts should cascade for this Application."
            },
            "enableFlattenedCartItems": {
              "type": "boolean",
              "description": "Indicates if cart items of quantity larger than one should be separated into different items of quantity one. See [the docs](https://docs.talon.one/docs/product/campaigns/campaign-evaluation/#flattened-cart-items).\n"
            },
            "attributesSettings": {
              "$ref": "#/components/schemas/AttributesSettings"
            },
            "sandbox": {
              "type": "boolean",
              "description": "Indicates if this is a live or sandbox Application."
            },
            "enablePartialDiscounts": {
              "type": "boolean",
              "description": "Indicates if this Application supports partial discounts.",
              "example": false
            },
            "defaultDiscountAdditionalCostPerItemScope": {
              "type": "string",
              "description": "The default scope to apply `setDiscountPerItem` effects on if no scope was provided with the effect.\n",
              "enum": [
                "price",
                "itemTotal",
                "additionalCosts"
              ]
            }
          }
        },
        "NewApplication": {
          "required": [
            "currency",
            "name",
            "timezone"
          ],
          "type": "object",
          "properties": {
            "name": {
              "minLength": 1,
              "type": "string",
              "description": "The name of this application.",
              "example": "My Application"
            },
            "description": {
              "type": "string",
              "description": "A longer description of the application.",
              "example": "A test Application"
            },
            "timezone": {
              "minLength": 1,
              "type": "string",
              "description": "A string containing an IANA timezone descriptor.",
              "example": "Europe/Berlin"
            },
            "currency": {
              "minLength": 1,
              "type": "string",
              "description": "The default currency for new customer sessions.",
              "example": "EUR"
            },
            "caseSensitivity": {
              "type": "string",
              "description": "The case sensitivity behavior to check coupon codes in the campaigns of this Application.",
              "example": "sensitive",
              "enum": [
                "sensitive",
                "insensitive-uppercase",
                "insensitive-lowercase"
              ]
            },
            "attributes": {
              "type": "object",
              "properties": {},
              "description": "Arbitrary properties associated with this campaign."
            },
            "limits": {
              "type": "array",
              "description": "Default limits for campaigns created in this application.",
              "items": {
                "$ref": "#/components/schemas/LimitConfig"
              }
            },
            "campaignPriority": {
              "type": "string",
              "description": "Default [priority](https://docs.talon.one/docs/product/applications/setting-up-campaign-priorities) for campaigns\ncreated in this Application.\n",
              "example": "universal",
              "default": "universal",
              "enum": [
                "universal",
                "stackable",
                "exclusive"
              ]
            },
            "exclusiveCampaignsStrategy": {
              "type": "string",
              "description": "The strategy used when choosing exclusive campaigns for evaluation.",
              "example": "listOrder",
              "default": "listOrder",
              "enum": [
                "listOrder",
                "lowestDiscount",
                "highestDiscount"
              ]
            },
            "defaultDiscountScope": {
              "type": "string",
              "description": "The default scope to apply `setDiscount` effects on if no scope was provided with the effect.\n",
              "enum": [
                "sessionTotal",
                "cartItems",
                "additionalCosts"
              ]
            },
            "enableCascadingDiscounts": {
              "type": "boolean",
              "description": "Indicates if discounts should cascade for this Application."
            },
            "enableFlattenedCartItems": {
              "type": "boolean",
              "description": "Indicates if cart items of quantity larger than one should be separated into different items of quantity one. See [the docs](https://docs.talon.one/docs/product/campaigns/campaign-evaluation/#flattened-cart-items).\n"
            },
            "attributesSettings": {
              "$ref": "#/components/schemas/AttributesSettings"
            },
            "sandbox": {
              "type": "boolean",
              "description": "Indicates if this is a live or sandbox Application."
            },
            "enablePartialDiscounts": {
              "type": "boolean",
              "description": "Indicates if this Application supports partial discounts.",
              "example": false
            },
            "defaultDiscountAdditionalCostPerItemScope": {
              "type": "string",
              "description": "The default scope to apply `setDiscountPerItem` effects on if no scope was provided with the effect.\n",
              "enum": [
                "price",
                "itemTotal",
                "additionalCosts"
              ]
            },
            "key": {
              "pattern": "^[a-fA-F0-9]{16}$",
              "type": "string",
              "description": "Hex key for HMAC-signing API calls as coming from this application (16 hex digits)."
            }
          },
          "description": ""
        },
        "Application": {
          "required": [
            "accountId",
            "created",
            "currency",
            "id",
            "loyaltyPrograms",
            "modified",
            "name",
            "timezone"
          ],
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Unique ID for this entity. Not to be confused with the Integration ID, which is set by your integration layer and used in most endpoints.",
              "example": 6
            },
            "created": {
              "type": "string",
              "description": "The exact moment this entity was created.",
              "format": "date-time",
              "example": "2020-06-10T09:05:27.993483Z"
            },
            "modified": {
              "type": "string",
              "description": "The exact moment this entity was last modified.",
              "format": "date-time",
              "example": "2021-09-12T10:12:42Z"
            },
            "accountId": {
              "type": "integer",
              "description": "The ID of the account that owns this entity.",
              "example": 3886
            },
            "name": {
              "minLength": 1,
              "type": "string",
              "description": "The name of this application.",
              "example": "My Application"
            },
            "description": {
              "type": "string",
              "description": "A longer description of the application.",
              "example": "A test Application"
            },
            "timezone": {
              "minLength": 1,
              "type": "string",
              "description": "A string containing an IANA timezone descriptor.",
              "example": "Europe/Berlin"
            },
            "currency": {
              "minLength": 1,
              "type": "string",
              "description": "The default currency for new customer sessions.",
              "example": "EUR"
            },
            "caseSensitivity": {
              "type": "string",
              "description": "The case sensitivity behavior to check coupon codes in the campaigns of this Application.",
              "example": "sensitive",
              "enum": [
                "sensitive",
                "insensitive-uppercase",
                "insensitive-lowercase"
              ]
            },
            "attributes": {
              "type": "object",
              "properties": {},
              "description": "Arbitrary properties associated with this campaign."
            },
            "limits": {
              "type": "array",
              "description": "Default limits for campaigns created in this application.",
              "items": {
                "$ref": "#/components/schemas/LimitConfig"
              }
            },
            "campaignPriority": {
              "type": "string",
              "description": "Default [priority](https://docs.talon.one/docs/product/applications/setting-up-campaign-priorities) for campaigns\ncreated in this Application.\n",
              "example": "universal",
              "default": "universal",
              "enum": [
                "universal",
                "stackable",
                "exclusive"
              ]
            },
            "exclusiveCampaignsStrategy": {
              "type": "string",
              "description": "The strategy used when choosing exclusive campaigns for evaluation.",
              "example": "listOrder",
              "default": "listOrder",
              "enum": [
                "listOrder",
                "lowestDiscount",
                "highestDiscount"
              ]
            },
            "defaultDiscountScope": {
              "type": "string",
              "description": "The default scope to apply `setDiscount` effects on if no scope was provided with the effect.\n",
              "enum": [
                "sessionTotal",
                "cartItems",
                "additionalCosts"
              ]
            },
            "enableCascadingDiscounts": {
              "type": "boolean",
              "description": "Indicates if discounts should cascade for this Application."
            },
            "enableFlattenedCartItems": {
              "type": "boolean",
              "description": "Indicates if cart items of quantity larger than one should be separated into different items of quantity one. See [the docs](https://docs.talon.one/docs/product/campaigns/campaign-evaluation/#flattened-cart-items).\n"
            },
            "attributesSettings": {
              "$ref": "#/components/schemas/AttributesSettings"
            },
            "sandbox": {
              "type": "boolean",
              "description": "Indicates if this is a live or sandbox Application."
            },
            "enablePartialDiscounts": {
              "type": "boolean",
              "description": "Indicates if this Application supports partial discounts.",
              "example": false
            },
            "defaultDiscountAdditionalCostPerItemScope": {
              "type": "string",
              "description": "The default scope to apply `setDiscountPerItem` effects on if no scope was provided with the effect.\n",
              "enum": [
                "price",
                "itemTotal",
                "additionalCosts"
              ]
            },
            "loyaltyPrograms": {
              "type": "array",
              "description": "An array containing all the loyalty programs to which this application is subscribed.",
              "items": {
                "$ref": "#/components/schemas/LoyaltyProgram"
              }
            }
          },
          "description": ""
        },
        "NewCampaignGroup": {
          "required": [
            "name"
          ],
          "type": "object",
          "properties": {
            "name": {
              "minLength": 1,
              "type": "string",
              "description": "The name of this campaign group."
            },
            "description": {
              "type": "string",
              "description": "A longer description of the campaign group."
            },
            "subscribedApplicationsIds": {
              "type": "array",
              "description": "A list of the IDs of the applications that this campaign group is enabled for.",
              "items": {
                "type": "integer"
              }
            },
            "campaignIds": {
              "type": "array",
              "description": "A list of the IDs of the campaigns that this campaign group owns.",
              "items": {
                "type": "integer"
              }
            }
          }
        },
        "CampaignGroup": {
          "required": [
            "accountId",
            "created",
            "id",
            "modified",
            "name"
          ],
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Unique ID for this entity. Not to be confused with the Integration ID, which is set by your integration layer and used in most endpoints.",
              "example": 6
            },
            "created": {
              "type": "string",
              "description": "The exact moment this entity was created.",
              "format": "date-time",
              "example": "2020-06-10T09:05:27.993483Z"
            },
            "modified": {
              "type": "string",
              "description": "The exact moment this entity was last modified.",
              "format": "date-time",
              "example": "2021-09-12T10:12:42Z"
            },
            "accountId": {
              "type": "integer",
              "description": "The ID of the account that owns this entity.",
              "example": 3886
            },
            "name": {
              "minLength": 1,
              "type": "string",
              "description": "The name of this campaign group."
            },
            "description": {
              "type": "string",
              "description": "A longer description of the campaign group."
            },
            "subscribedApplicationsIds": {
              "type": "array",
              "description": "A list of the IDs of the applications that this campaign group is enabled for.",
              "items": {
                "type": "integer"
              }
            },
            "campaignIds": {
              "type": "array",
              "description": "A list of the IDs of the campaigns that this campaign group owns.",
              "items": {
                "type": "integer"
              }
            }
          },
          "description": ""
        },
        "UpdateCampaignGroup": {
          "required": [
            "name"
          ],
          "type": "object",
          "properties": {
            "name": {
              "minLength": 1,
              "type": "string",
              "description": "The name of this campaign group."
            },
            "description": {
              "type": "string",
              "description": "A longer description of the campaign group."
            },
            "subscribedApplicationsIds": {
              "type": "array",
              "description": "A list of the IDs of the applications that this campaign group is enabled for.",
              "items": {
                "type": "integer"
              }
            },
            "campaignIds": {
              "type": "array",
              "description": "A list of the IDs of the campaigns that this campaign group owns.",
              "items": {
                "type": "integer"
              }
            }
          },
          "description": ""
        },
        "NewCampaign": {
          "required": [
            "features",
            "limits",
            "name",
            "state",
            "tags"
          ],
          "type": "object",
          "properties": {
            "name": {
              "title": "Campaign Name",
              "minLength": 1,
[...]
