openapi: 3.0.1
info:
  description: "Use the Integration API to push data to and retrieve data from Talon.One\
    \ in real time.\nFor more background information about this API, see [Integration\
    \ API overview](/docs/dev/integration-api/overview)\n\nFor example, use this API\
    \ to share shopping cart information as a session with Talon.One and evaluate\
    \ promotion\nrules. You can also create custom events to track specific actions\
    \ that do not fit into the session data model.\n\nEnsure you [authenticate](#section/Authentication)\
    \ to make requests to the API.\n\n<div class=\"redoc-section\">\n  <p class=\"\
    title\">Are you looking for a different API?</p>\n\n  If you need the API to:\n\
    \n  - Interact with the Campaign Manager for backoffice operations, see [the Management\
    \ API reference docs](https://docs.talon.one/management-api).\n  - Integrate with\
    \ Talon.One from a CEP or CDP platform, see [the Third-party API reference docs](https://docs.talon.one/third-party-api).\n\
    \n</div>\n\n# Authentication\n\n<SecurityDefinitions />\n"
  title: Integration API reference docs
  version: 1.0.0
servers:
- url: https://goflink.europe-west1.talon.one/
tags:
- description: |
    Represents an arbitrary group of customer profiles. Audiences can be synced from Customer Data Platforms such as mParticle or created from scratch.
  name: Audiences
- description: "Represents a catalog of cart items with unique SKUs. Cart item catalogs\
    \ allow you to synchronize your entire inventory with Talon.One.\nSee the [documentation](https://docs.talon.one/docs/product/account/dev-tools/managing-cart-item-catalogs).\n"
  name: Catalogs
- description: "Coupons are unique codes belonging to a particular campaign. They\
    \ don't define any behavior on their own, instead the campaign ruleset can include\
    \ rules that validate coupons and carry out particular effects.\n"
  name: Coupons
- description: "Represents the customer's information. For instance, their contact\
    \ information.\n"
  name: Customer profiles
- description: "Represents the data related to a customer session. Typically, a customer\
    \ session is the value and content of the customer's cart.\n\nSessions can be\
    \ anonymous or linked to a customer profile and they have a life cycle from `open`\
    \ to `closed`.\nIn general, a session is closed when the customer completes the\
    \ checkout step.\n\nSessions are a key concept of Talon.One, we strongly recommend\
    \ you read the [documentation about customer sessions](/docs/dev/concepts/entities#customer-session).\n"
  name: Customer sessions
- description: "Represents a single occurrence of various customer actions. There\
    \ are 2 versions:\n- For V1 events, each customer **session** contains one or\
    \ more events. For example, updating a customer session records a `talon_session_updated`\
    \ event.\n- For V2 events, each customer **profile** contains one or more events.\
    \ For example, updating a customer session records a `talon_session_updated` event\
    \ linked to the profile in question.\n"
  name: Events
- description: "A referral is a code shared between a customer and a prospect.\nA\
    \ referral is defined by an advocate, a friend and a referral code. The advocate\
    \ is the person who\ninvited their friend via referral program. The friend is\
    \ the person who receives the invite from an advocate.\nThe referral code is a\
    \ code which is generated similar to a coupon code the code can be redeemed by\n\
    either one or multiple advocates.\n"
  name: Referrals
paths:
  /v2/customer_sessions/{customerSessionId}:
    get:
      description: "Get the details of the given customer session.\n\nYou can get\
        \ the same data via other endpoints that also apply changes, which can help\
        \ you save requests and increase performance. See:\n\n- [Update customer session](#tag/Customer-sessions/operation/updateCustomerSessionV2)\n\
        - [Update customer profile](#tag/Customer-profiles/operation/updateCustomerProfileV2)\n"
      operationId: getCustomerSession
      parameters:
      - description: "The `integration ID` of the customer session. You set this ID\
          \ when you create a customer session.\n\nYou can see existing customer session\
          \ integration IDs in the Campaign Manager's **Sessions** menu, or via the\n\
          [List Application session endpoint](https://docs.talon.one/management-api/#operation/getApplicationSessions).\n"
        explode: false
        in: path
        name: customerSessionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationCustomerSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
      security:
      - api_key_v1: []
      summary: Get customer session
      tags:
      - Customer sessions
    put:
      description: "Update or create a [customer session](/docs/dev/concepts/entities#customer-session).\n\
        For example, use this endpoint to share the content of a customer's cart with\
        \ Talon.One and to check which\npromotion rules apply.\n\n**Note:** The currency\
        \ for the session and the cart items in the session is the same as the\nApplication\
        \ that owns this session.\n\n### Session management\n\nThe Talon.One platform\
        \ supports multiple simultaneous sessions for the same profile. If you have\
        \ multiple ways of accessing the same Application you can either:\n\n- Track\
        \ multiple independent sessions or,\n- Use the same session across all of\
        \ them.\n\nYou should share sessions when application access points share\
        \ other state, such as the user's cart.\nIf two points of access to the application\
        \ have independent states, for example a user can have different\nitems in\
        \ their cart across the two) they should use independent customer session\
        \ ID's.\n\nSee more information and tips about session management in the [documentation](/docs/dev/concepts/entities#customer-session).\n\
        \n### Sessions and customer profiles\n\n- To link a session to a customer\
        \ profile, set the `profileId` parameter in the request body to a customer\
        \ profile's `integrationId`.\n- While you can create an anonymous session\
        \ with `profileId=\"\"`, we recommend you use a guest ID instead.\n\n**Note:**\
        \ You do **not** have to create a customer profile first. If the specified\
        \ profile does not exist, an empty profile is created automatically.\n\n<div\
        \ class=\"redoc-section\">\n  <p class=\"title\">Performance tips</p>\n\n\
        \  Updating a customer session returns a response with the requested integration\
        \ state. Use the `responseContent` property to save yourself extra API calls.\
        \ For example, you can get\n  the customer profile details directly without\
        \ extra requests.\n\n  For more information, see the [integration tutorial](https://docs.talon.one/docs/dev/tutorials/integrating-talon-one).\n\
        </div>\n"
      operationId: updateCustomerSessionV2
      parameters:
      - description: Indicates whether to persist the changes. Changes are ignored
          when `dry=true`.
        explode: true
        in: query
        name: dry
        required: false
        schema:
          type: boolean
        style: form
      - description: "The `integration ID` of the customer session. You set this ID\
          \ when you create a customer session.\n\nYou can see existing customer session\
          \ integration IDs in the Campaign Manager's **Sessions** menu, or via the\n\
          [List Application session endpoint](https://docs.talon.one/management-api/#operation/getApplicationSessions).\n"
        explode: false
        in: path
        name: customerSessionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "409":
          content:
            application/json:
              schema:
                type: object
          description: "Too many requests - Avoid parallel requests, see the [docs](/docs/dev/tutorials/integrating-talon-one/#managing-parallel-requests)."
      security:
      - api_key_v1: []
      summary: Update customer session
      tags:
      - Customer sessions
      x-codegen-request-body-name: body
  /v2/customer_sessions/{customerSessionId}/returns:
    post:
      description: "Create a new return request for the specified cart items.\n\n\
        This endpoint automatically changes the session state from `closed` to `partially_returned`.\n\
        \nIts behavior depends on whether [cart item flattening](https://docs.talon.one/docs/product/campaigns/campaign-evaluation/#flattened-cart-items)\n\
        is enabled for the Application.\n\n**Note:** This will roll back any effects\
        \ associated with these cart items. For more information, see\n[our documentation\
        \ on session states](https://docs.talon.one/docs/dev/concepts/entities#customer-session-states)\n\
        and [this tutorial](https://docs.talon.one/docs/dev/tutorials/partially-returning-a-session).\n"
      operationId: returnCartItems
      parameters:
      - description: Indicates whether to persist the changes. Changes are ignored
          when `dry=true`.
        explode: true
        in: query
        name: dry
        required: false
        schema:
          type: boolean
        style: form
      - description: "The `integration ID` of the customer session. You set this ID\
          \ when you create a customer session.\n\nYou can see existing customer session\
          \ integration IDs in the Campaign Manager's **Sessions** menu, or via the\n\
          [List Application session endpoint](https://docs.talon.one/management-api/#operation/getApplicationSessions).\n"
        explode: false
        in: path
        name: customerSessionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnIntegrationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
      security:
      - api_key_v1: []
      summary: Return cart items
      tags:
      - Customer sessions
      x-codegen-request-body-name: body
  /v2/customer_profiles/{integrationId}:
    put:
      description: "Update or create a [Customer Profile](/docs/dev/concepts/entities#customer-profile).\
        \ This endpoint triggers the Rule Builder.\n\nYou can use this endpoint to:\n\
        - Set attributes on the given customer profile. Ensure you create the attributes\
        \ in the Campaign Manager, first.\n- Modify the audience the customer profile\
        \ is a member of.\n\n<div class=\"redoc-section\">\n  <p class=\"title\">Performance\
        \ tips</p>\n\n  Updating a customer profile returns a response with the requested\
        \ integration state.\n\n  You can use the `responseContent` property to save\
        \ yourself extra API calls. For example, you can get\n  the customer profile\
        \ details directly without extra requests.\n</div>\n"
      operationId: updateCustomerProfileV2
      parameters:
      - description: "The integration identifier for this customer profile. Must be:\n\
          - Unique within the deployment.\n- Stable for the customer. Do not use an\
          \ ID that the customer can update themselves. For example, you can use a\
          \ database ID.\n\nOnce set, you cannot update this identifier.\n"
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      - description: "Indicates whether to run the Rule Engine.\n\nIf `true`, the\
          \ response includes:\n- The effects generated by the triggered campaigns\
          \ are returned in the `effects` property.\n- The created coupons and referral\
          \ objects.\n\nIf `false`:\n- The rules are not executed and the `effects`\
          \ property is always empty.\n- The response time improves.\n- You cannot\
          \ use `responseContent` in the body.\n"
        explode: true
        in: query
        name: runRuleEngine
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Indicates whether to persist the changes. Changes are ignored when `dry=true`.

          This property only works when `runRuleEngine=true`.
        explode: true
        in: query
        name: dry
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfileIntegrationRequestV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "409":
          content:
            application/json:
              schema:
                type: object
          description: "Too many requests - Avoid parallel requests, see the [docs](/docs/dev/tutorials/integrating-talon-one/#managing-parallel-requests)."
      security:
      - api_key_v1: []
      summary: Update customer profile
      tags:
      - Customer profiles
      x-codegen-request-body-name: body
  /v2/customer_profiles:
    put:
      description: "Update (or create) up to 1000 [customer profiles](/docs/dev/concepts/entities#customer-profile)\
        \ in 1 request.\n\nThe `integrationId` must be any identifier that remains\
        \ stable for\nthe customer. Do not use an ID that the customer can update\n\
        themselves. For example, you can use a database ID.\n\nA customer profile\
        \ [can be linked to one or more sessions](/integration-api/#tag/Customer-sessions).\n"
      operationId: updateCustomerProfilesV2
      parameters:
      - description: "Possible values: `yes` or `no`.\n- `yes`: Increases the perfomance\
          \ of the API call by returning a 204 response.\n- `no`: Returns a 200 response\
          \ that contains essential data such as the updated customer profiles and\
          \ session-related information.\n"
        explode: true
        in: query
        name: silent
        required: false
        schema:
          default: "yes"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleCustomerProfileIntegrationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleCustomerProfileIntegrationResponseV2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
      security:
      - api_key_v1: []
      summary: Update multiple customer profiles
      tags:
      - Customer profiles
      x-codegen-request-body-name: body
  /v2/audiences:
    post:
      description: "Create an audience. The audience can be created directly from\
        \ scratch or can come from third party platforms.\n\nTo create an audience\
        \ from an existing audience from a [technology partner](https://docs.talon.one/docs/dev/technology-partners/overview):\n\
        1. Set the `integration` property to `mparticle`, `segment` etc., depending\
        \ on a third-party platform.\n1. Set `integrationId` to the ID of this audience\
        \ in a third-party platform.\n\nTo create an audience from an existing audience\
        \ in another platform:\n1. Do not use the `integration` property.\n1. Set\
        \ `integrationId` to the ID of this audience in the 3rd-party platform.\n\n\
        To create an audience from scratch:\n1. Only set the `name` property.\n\n\
        Once you create your first audience, audience-specific rule conditions are\
        \ enabled in the Rule Builder.\n"
      operationId: createAudienceV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAudience'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Conflict. An Audience with this ID already exists for this
            integration.
      security:
      - api_key_v1: []
      summary: Create audience
      tags:
      - Audiences
      x-codegen-request-body-name: body
  /v2/audiences/{audienceId}:
    delete:
      description: |
        Delete an audience created by a third-party integration.

        **Warning:** This endpoint also removes any associations recorded between a customer profile and this audience.
      operationId: deleteAudienceV2
      parameters:
      - description: "The ID of the audience. You get it via the `id` property when\
          \ [creating an audience](#operation/createAudienceV2)."
        explode: false
        in: path
        name: audienceId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      summary: Delete audience
      tags:
      - Audiences
    put:
      description: "Update the name of the given audience created by a third-party\
        \ integration. Sending a request to this endpoint does **not** trigger the\
        \ rule engine.\n\nTo update the audience's members, use the [Update customer\
        \ profile endpoint](#tag/Customer-profiles/operation/updateCustomerProfileV2).\n"
      operationId: updateAudienceV2
      parameters:
      - description: "The ID of the audience. You get it via the `id` property when\
          \ [creating an audience](#operation/createAudienceV2)."
        explode: false
        in: path
        name: audienceId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAudience'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audience'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      security:
      - api_key_v1: []
      summary: Update audience name
      tags:
      - Audiences
      x-codegen-request-body-name: body
  /v2/audiences/{audienceId}/memberships:
    delete:
      description: |
        Remove all members from this audience.
      operationId: deleteAudienceMembershipsV2
      parameters:
      - description: "The ID of the audience. You get it via the `id` property when\
          \ [creating an audience](#operation/createAudienceV2)."
        explode: false
        in: path
        name: audienceId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      summary: Delete audience memberships
      tags:
      - Audiences
  /v2/customer_audiences:
    post:
      description: |
        Update the specified customer profiles with the specified audiences. Use this endpoint
        when customers join or leave audiences.

        The limit of customer profiles per request is 1000.
      operationId: updateCustomerProfileAudiences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfileAudienceRequest'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      security:
      - api_key_v1: []
      summary: Update multiple customer profiles' audiences
      tags:
      - Audiences
      x-codegen-request-body-name: body
  /v2/audience_customers/{audienceId}/attributes:
    put:
      description: |
        Update the specified profile attributes to the provided values for all customers in the specified audience.
      operationId: updateAudienceCustomersAttributes
      parameters:
      - description: "The ID of the audience. You get it via the `id` property when\
          \ [creating an audience](#operation/createAudienceV2)."
        explode: false
        in: path
        name: audienceId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeQuery'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      security:
      - api_key_v1: []
      summary: Update profile attributes for all customers in audience
      tags:
      - Audiences
      x-codegen-request-body-name: body
  /v1/events:
    post:
      description: "**Important:** This endpoint is **DEPRECATED**. Use [Track Event\
        \ V2](https://docs.talon.one/integration-api/#tag/Events/operation/trackEventV2)\
        \ instead.\n\n<blockquote>\n Triggers a custom event in a customer session.\
        \ You can then check this event in your rules. **Important:** Talon.One offers\
        \ a set of [built-in events](/docs/dev/concepts/events), ensure you do not\
        \ create a custom event when you can use a built-in event.\n For example,\
        \ use this endpoint to trigger an event when a user updates their payment\
        \ information.\n\n Before using this endpoint, create your event as a custom\
        \ attribute of type `event`.  See the [Developer docs](/docs/dev/concepts/events/#creating-a-custom-event).\n\
        \n An event is always part of a session. If either the profile or the session\
        \ does not exist,\n a new empty profile/session is created. If the specified\
        \ session already exists, it must belong to the same `profileId` or an error\
        \ will be returned.\n</blockquote>\n"
      operationId: trackEvent
      parameters:
      - description: Indicates whether to persist the changes. Changes are ignored
          when `dry=true`.
        explode: true
        in: query
        name: dry
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewEvent'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationState'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "409":
          content:
            application/json:
              schema:
                type: object
          description: "Too many requests - Avoid parallel requests, see the [docs](/docs/dev/tutorials/integrating-talon-one/#managing-parallel-requests)."
      security:
      - api_key_v1: []
      summary: Track event
      tags:
      - Events
      x-codegen-request-body-name: body
  /v2/events:
    post:
      description: "Triggers a custom event. You can then check this event in your\
        \ rules.\n\nTalon.One offers a set of [built-in events](/docs/dev/concepts/events),\
        \ ensure you do not create\na custom event when you can use a built-in event.\n\
        \nFor example, use this endpoint to trigger an event when a customer shares\
        \ a link to a product.\nSee the [tutorial](https://docs.talon.one/docs/product/tutorials/referrals/incentivizing-product-link-sharing).\n\
        \n**Important:**\n- `profileId` is required. An event V2 is associated with\
        \ a customer profile.\n- Before using this endpoint, create your event as\
        \ a custom attribute of type `event`.\nSee the [Developer docs](/docs/dev/concepts/events/#creating-a-custom-event).\n"
      operationId: trackEventV2
      parameters:
      - description: "Possible values: `yes` or `no`.\n- `yes`: Increases the perfomance\
          \ of the API call by returning a 204 response.\n- `no`: Returns a 200 response\
          \ that contains essential data such as the updated customer profiles and\
          \ session-related information.\n"
        explode: true
        in: query
        name: silent
        required: false
        schema:
          default: "yes"
          type: string
        style: form
      - description: Indicates whether to persist the changes. Changes are ignored
          when `dry=true`.
        explode: true
        in: query
        name: dry
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationEventV2Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
      security:
      - api_key_v1: []
      summary: Track event V2
      tags:
      - Events
      x-codegen-request-body-name: body
  /v1/referrals:
    post:
      description: "Creates a referral code for an advocate. The code will be valid\
        \ for the referral campaign for which is created, indicated in the `campaignId`\
        \ parameter, and will be associated with the profile specified in the `advocateProfileIntegrationId`\
        \ parameter as the advocate's profile.\n"
      operationId: createReferral
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewReferral'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Referral'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
      security:
      - api_key_v1: []
      summary: Create referral code for an advocate
      tags:
      - Referrals
      x-codegen-request-body-name: body
  /v1/referrals_for_multiple_advocates:
    post:
      description: "Creates unique referral codes for multiple advocates. The code\
        \ will be valid for the referral campaign for which it is created, indicated\
        \ in the `campaignId` parameter, and one referral code will be associated\
        \ with one advocate using the profile specified in the `advocateProfileIntegrationId`\
        \ parameter as the advocate's profile.\n"
      operationId: createReferralsForMultipleAdvocates
      parameters:
      - description: "Possible values: `yes` or `no`.\n- `yes`: Increases the perfomance\
          \ of the API call by returning a 204 response.\n- `no`: Returns a 200 response\
          \ that contains essential data such as the updated customer profiles and\
          \ session-related information.\n"
        explode: true
        in: query
        name: silent
        required: false
        schema:
          default: "yes"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewReferralsForMultipleAdvocates'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createReferralsForMultipleAdvocates_201_response'
          description: Created
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
      security:
      - api_key_v1: []
      summary: Create referral codes for multiple advocates
      tags:
      - Referrals
      x-codegen-request-body-name: body
  /v1/customer_data/{integrationId}:
    delete:
      description: "Delete all attributes on the customer profile and on entities\
        \ that reference this customer profile.\n\n**Important:** To preserve performance,\
        \ we recommend avoiding deleting customer data during peak-traffic hours.\n"
      operationId: deleteCustomerData
      parameters:
      - description: "The integration ID of the customer profile. You can get the\
          \ `integrationId` of a profile using:\n- A customer session integration\
          \ Id with the [Update customer session endpoint](https://docs.talon.one/integration-api/#operation/updateCustomerSessionV2).\n\
          - The Management API with the [List application's customers endpoint](https://docs.talon.one/management-api/#operation/getApplicationCustomers).\n"
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      security:
      - api_key_v1: []
      summary: Delete customer's personal data
      tags:
      - Customer profiles
  /v1/coupon_reservations/{couponValue}:
    delete:
      description: |
        Remove all the coupon reservations from the provided customer profile integration IDs and the provided
        coupon code.
      operationId: deleteCouponReservation
      parameters:
      - description: The code of the coupon.
        explode: false
        in: path
        name: couponValue
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponReservations'
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      security:
      - api_key_v1: []
      summary: Delete coupon reservations
      tags:
      - Coupons
      x-codegen-request-body-name: body
    post:
      description: "Create a coupon reservation for specified customer profiles on\
        \ the specified coupon.\n\nReserving a coupon allows you to associate a coupon\
        \ code to a given customer(s).\nYou can then list the reserved coupons of\
        \ a given customer\nwith the [List customer data endpoint](/integration-api/#operation/getCustomerInventory).\n\
        \nIf a coupon gets created for a specific user, it will automatically show\
        \ up in their coupons.\n\nWhen a user redeems a coupon, a reservation is automatically\
        \ created after the redemption and\nthe used coupon will be returned in the\
        \ [List customer data endpoint](/integration-api/#operation/getCustomerInventory).\n\
        \n**Important:**\n- This endpoint creates a **soft** reservation. _Any_ customer\n\
        \  can use a reserved coupon code and proceed to checkout.\n- To create a\
        \ hard reservation, use the\n  [Create coupons](/management-api/#operation/createCoupons)\
        \ or\n  [Create coupons for multiple recipients](/management-api/#operation/createCouponsForMultipleRecipients)\
        \ endpoints\n  setting the `recipientsIntegrationId` property.\n\nFor example,\
        \ you can use this endpoint and `List customer data` to create a _coupon wallet_\
        \ by\nreserving coupon codes for a customer, and then displaying their coupon\
        \ wallet\nwhen they visit your store.\n"
      operationId: createCouponReservation
      parameters:
      - description: The code of the coupon.
        explode: false
        in: path
        name: couponValue
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponReservations'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      security:
      - api_key_v1: []
      summary: Create coupon reservation
      tags:
      - Coupons
      x-codegen-request-body-name: body
  /v1/coupon_reservations/customerprofiles/{couponValue}:
    get:
      description: "Return all customers that have this coupon marked as reserved.\n\
        \nCoupons are reserved in the following ways:\n- To create a soft reservation\
        \ (any customer can use the coupon), use the [Create coupon reservation](#operation/createCouponReservation)\
        \ endpoint.\n- To create a hard reservation (only the given customer can use\
        \ the coupon), create a coupon in the Campaign Manager for a given `recipientIntegrationId`\
        \ or use the [Create coupons](/management-api/#operation/createCoupons) or\
        \ [Create coupons for multiple recipients](/management-api/#operation/createCouponsForMultipleRecipients)\
        \ endpoints.\n"
      operationId: getReservedCustomers
      parameters:
      - description: The code of the coupon.
        explode: false
        in: path
        name: couponValue
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReservedCustomers_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      security:
      - api_key_v1: []
      summary: List customers that have this coupon reserved
      tags:
      - Coupons
  /v1/customer_profiles/{integrationId}/inventory:
    get:
      description: "Return the customer inventory regarding entities referencing this\
        \ customer profile's `integrationId`.\n\nTypical entities returned are: customer\
        \ profile information, referral codes, loyalty points and reserved coupons.\n\
        Reserved coupons also include redeemed coupons.\n\nYou can also use this endpoint\
        \ to get the projected loyalty balances in order to notify\nyour customers\
        \ about points that are about to expire, or to remind them how many points\
        \ they have.\n"
      operationId: getCustomerInventory
      parameters:
      - description: "The integration ID of the customer profile. You can get the\
          \ `integrationId` of a profile using:\n- A customer session integration\
          \ Id with the [Update customer session endpoint](https://docs.talon.one/integration-api/#operation/updateCustomerSessionV2).\n\
          - The Management API with the [List application's customers endpoint](https://docs.talon.one/management-api/#operation/getApplicationCustomers).\n"
        explode: false
        in: path
        name: integrationId
        required: true
        schema:
          type: string
        style: simple
      - description: Set to `true` to include customer profile information in the
          response.
        explode: true
        in: query
        name: profile
        required: false
        schema:
          type: boolean
        style: form
      - description: Set to `true` to include referral information in the response.
        explode: true
        in: query
        name: referrals
        required: false
        schema:
          type: boolean
        style: form
      - description: Set to `true` to include coupon information in the response.
        explode: true
        in: query
        name: coupons
        required: false
        schema:
          type: boolean
        style: form
      - description: Set to `true` to include loyalty information in the response.
        explode: true
        in: query
        name: loyalty
        required: false
        schema:
          type: boolean
        style: form
      - description: Set to `true` to include giveaways information in the response.
        explode: true
        in: query
        name: giveaways
        required: false
        schema:
          type: boolean
        style: form
      - description: Set an end date to query the projected loyalty balances. You
          can project results up to 31 days from today.
        explode: true
        in: query
        name: loyaltyProjectionEndDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInventory'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      security:
      - api_key_v1: []
      summary: List customer data
      tags:
      - Customer profiles
  /v1/catalogs/{catalogId}/sync:
    put:
      description: "Perform one or more of the following sync actions on this cart\
        \ item catalog, up to 1000 actions:\n\n- Add an item to the catalog.\n- Edit\
        \ the attributes of an item in the catalog.\n- Edit the attributes of more\
        \ than one item in the catalog.\n- Remove an item from the catalog.\n- Remove\
        \ more than one item from the catalog.\n\n**Note**: For more information,\
        \ see [our documentation on managing cart item catalogs](https://docs.talon.one/docs/product/account/dev-tools/managing-cart-item-catalogs).\n\
        \n### Filtering cart items\n\nUse [cart item attributes](https://docs.talon.one/docs/product/account/dev-tools/managing-cart-item-catalogs#displaying-the-details-and-content-of-a-catalog)\n\
        to filter items and select the ones you want to edit or delete when editing\
        \ or deleting more than one item\nat a time.\n\nThe `filters` object contains\
        \ the following properties:\n\n- `attr`: A [cart item attribute](https://docs.talon.one/docs/product/account/dev-tools/managing-attributes)\n\
        \  connected to the catalog. It is applied to all items in the catalog.\n\
        - `op`: The filtering operator indicating the relationship between the value\
        \ of each\n  cart item in the catalog and the value of the `value` property\
        \ for the attribute selected\n  in `attr`.\n\n  The value of `op` can be one\
        \ of the following:\n\n  - `EQ`: Equal to `value`\n  - `LT`: Less than `value`\n\
        \  - `LE`: Less than or equal to `value`\n  - `GT`: Greater than `value`\n\
        \  - `GE`: Greater than or equal to `value`\n  - `IN`: One of the comma-separated\
        \ values that `value` is set to.\n\n  **Note:** `GE`, `LE`, `GT`, `LT` are\
        \ for numeric values only.\n\n- `value`: The value of the attribute selected\
        \ in `attr`.\n\n### Payload examples\n\nSynchronization actions are sent as\
        \ `PUT` requests. See the structure for each action:\n\n<details>\n  <summary><strong>Adding\
        \ an item to the catalog</strong></summary>\n  <div>\n\n  ```json\n  {\n \
        \   \"actions\": [\n      {\n        \"payload\": {\n          \"attributes\"\
        : {\n            \"color\": \"Navy blue\",\n            \"type\": \"shoe\"\
        \n          },\n          \"replaceIfExists\": true,\n          \"sku\": \"\
        SKU1241028\"\n        },\n        \"type\": \"ADD\"\n      }\n    ]\n  }\n\
        \  ```\n  </div>\n</details>\n\n<details>\n  <summary><strong>Editing the\
        \ attributes of an item in the catalog</strong></summary>\n  <div>\n\n  ```json\n\
        \  {\n    \"actions\": [\n      {\n        \"payload\": {\n          \"attributes\"\
        : {\n            \"age\": 11,\n            \"origin\": \"germany\"\n     \
        \     },\n          \"createIfNotExists\": false,\n          \"sku\": \"SKU1241028\"\
        \n        },\n        \"type\": \"PATCH\"\n      }\n    ]\n  }\n  ```\n  </div>\n\
        </details>\n\n<details>\n  <summary><strong>Editing the attributes of several\
        \ items at once</strong></summary>\n  <div>\n\n  ```json\n  {\n    \"actions\"\
        : [\n      {\n        \"payload\": {\n          \"attributes\": {\n      \
        \      \"color\": \"red\"\n          },\n          \"filters\": [\n      \
        \      {\n              \"attr\": \"color\",\n              \"op\": \"EQ\"\
        ,\n              \"value\": \"blue\"\n            }\n          ]\n       \
        \ },\n        \"type\": \"PATCH_MANY\"\n      }\n    ]\n  }\n  ```\n\n  </div>\n\
        </details>\n\n<details>\n  <summary><strong>Removing an item from the catalog</strong></summary>\n\
        \  <div>\n\n  ```json\n  {\n    \"actions\": [\n      {\n        \"payload\"\
        : {\n          \"sku\": \"SKU1241028\"\n        },\n        \"type\": \"REMOVE\"\
        \n      }\n    ]\n  }\n  ```\n\n  </div>\n</details>\n\n<details>\n  <summary><strong>Removing\
        \ several items from the catalog at once</strong></summary>\n  <div>\n\n \
        \ ```json\n  {\n    \"actions\": [\n      {\n        \"payload\": {\n    \
        \      \"filters\": [\n            {\n              \"attr\": \"color\",\n\
        \              \"op\": \"EQ\",\n              \"value\": \"blue\"\n      \
        \      }\n          ]\n        },\n        \"type\": \"REMOVE_MANY\"\n   \
        \   }\n    ]\n  }\n  ```\n  </div>\n</details>\n\n<details>\n  <summary><strong>Removing\
        \ shoes of sizes above 45 from the catalog</strong></summary>\n  <div>\n \
        \ <p>\n  Let's imagine that we have a shoe store and we have decided to stop\
        \ selling\n  shoes larger than size 45. We can remove from the catalog all\
        \ the shoes of sizes above 45\n  with a single action:</p>\n\n  ```json\n\
        \  {\n    \"actions\": [\n      {\n        \"payload\": {\n          \"filters\"\
        : [\n            {\n              \"attr\": \"size\",\n              \"op\"\
        : \"GT\",\n              \"value\": \"45\"\n            }\n          ]\n \
        \       },\n        \"type\": \"REMOVE_MANY\"\n      }\n    ]\n  }\n  ```\n\
        \  </div>\n</details>\n"
      operationId: syncCatalog
      parameters:
      - explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogSyncRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Catalog'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Unauthorized - Invalid API key
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWithStatus'
          description: Not found
      summary: Sync cart item catalog
      tags:
      - Catalogs
      x-codegen-request-body-name: body
components:
  schemas:
    ErrorResponse:
      properties:
        message:
          description: A message describing the error.
          type: string
        errors:
          description: An array of individual problems encountered during the request.
          items:
            $ref: '#/components/schemas/APIError'
          type: array
      required:
      - message
      type: object
    ErrorResponseWithStatus:
      properties:
        message:
          type: string
        errors:
          description: An array of individual problems encountered during the request.
          items:
            $ref: '#/components/schemas/APIError'
          type: array
        StatusCode:
          description: The error code
          type: integer
      type: object
    APIError:
      properties:
        title:
          description: Short description of the problem.
          type: string
        details:
          description: Longer description of this specific instance of the problem.
          type: string
        source:
          $ref: '#/components/schemas/ErrorSource'
      required:
      - source
      - title
      type: object
    FeatureFlag:
      properties:
        name:
          description: The name for the featureflag.
          type: string
        value:
          description: The value for the featureflag.
          type: string
        created:
          description: The exact moment this entity was last created.
          format: date-time
          type: string
        modified:
          description: The exact moment this entity was last modified.
          format: date-time
          type: string
      required:
      - name
      - value
      type: object
    ErrorSource:
      description: "The source of the current error, exactly one of `pointer`, `parameter`\
        \ or `line` will be defined.\n"
      properties:
        pointer:
          description: Pointer to the path in the payload that caused this error.
          type: string
        parameter:
          description: Query parameter that caused this error.
          type: string
        line:
          description: Line number in uploaded multipart file that caused this error.
            'N/A' if unknown.
          type: string
        resource:
          description: Pointer to the resource that caused this error.
          type: string
      type: object
    Entity:
      properties:
        id:
          description: "Unique ID for this entity. Not to be confused with the Integration\
            \ ID, which is set by your integration layer and used in most endpoints."
          example: 6
          type: integer
        created:
          description: The exact moment this entity was created.
          example: 2020-06-10T09:05:27.993483Z
          format: date-time
          type: string
      required:
      - created
      - id
      type: object
    EntityWithTalangVisibleID:
      properties:
        id:
          description: Unique ID for this entity.
          type: integer
        created:
          description: The exact moment this entity was created.
          format: date-time
          type: string
      required:
      - created
      - id
      type: object
    MutableEntity:
      properties:
        modified:
          description: The exact moment this entity was last modified.
          example: 2021-09-12T10:12:42Z
          format: date-time
          type: string
      required:
      - modified
      type: object
    AccountEntity:
      properties:
        accountId:
          description: The ID of the account that owns this entity.
          example: 3886
          type: integer
      required:
      - accountId
      type: object
    UserEntity:
      properties:
        userId:
          description: The ID of the account that owns this entity.
          type: integer
      required:
      - userId
      type: object
    EmailEntity:
      properties:
        email:
          description: The email address associated with your account.
          example: john.doe@example.com
          format: email
          type: string
      required:
      - email
      type: object
    ApplicationEntity:
      properties:
        applicationId:
          description: The ID of the application that owns this entity.
          example: 322
          type: integer
      required:
      - applicationId
      type: object
    LoyaltyProgramEntity:
      properties:
        programID:
          description: The ID of the loyalty program that owns this entity.
          example: 125
          type: integer
      required:
      - programID
      type: object
    CampaignGroupEntity:
      properties:
        campaignGroups:
          description: The IDs of the campaign groups that own this entity.
          items:
            type: integer
          type: array
      type: object
    MultiApplicationEntity:
      properties:
        applicationIds:
          description: The IDs of the applications that are related to this entity.
          items:
            type: integer
          minItems: 1
          type: array
      required:
      - applicationIds
      type: object
    CampaignEntity:
      properties:
        campaignId:
          description: The ID of the campaign that owns this entity.
          example: 211
          title: Campaign ID
          type: integer
      required:
      - campaignId
      type: object
    ApplicationSessionEntity:
      properties:
        sessionId:
          description: The globally unique Talon.One ID of the session where this
            entity was created.
          type: integer
      required:
      - sessionId
      type: object
    ApplicationCustomerEntity:
      properties:
        profileId:
          description: The globally unique Talon.One ID of the customer that created
            this entity.
          example: 138
          type: integer
      type: object
    IntegrationEntity:
      properties:
        integrationId:
          description: The integration ID set by your integration layer.
          example: URNGV8294NV
          format: string
          maxLength: 1000
          type: string
        created:
          description: The exact moment this entity was created.
          example: 2020-02-07T08:15:22Z
          format: date-time
          type: string
      required:
      - created
      - integrationId
      type: object
    IntegrationProfileEntity:
      properties:
        profileId:
          description: "ID of the customer profile set by your integration layer.\n\
            \n**Note:** If the customer does not yet have a known `profileId`, we\
            \ recommend you use a guest `profileId`.\n"
          example: URNGV8294NV
          type: string
      type: object
    CouponValue:
      properties:
        value:
          description: The coupon code.
          example: XMAS-20-2021
          minLength: 4
          title: Coupon Code
          type: string
      type: object
    CouponConstraints:
      properties:
        usageLimit:
          description: |
            The number of times the coupon code can be redeemed. `0` means unlimited redemptions but any campaign usage limits will still apply.
          example: 100
          maximum: 999999
          minimum: 0
          type: integer
        discountLimit:
          description: |
            The amount of discounts that can be given with this coupon code.
          example: 30
          maximum: 999999
          minimum: 0
          type: number
        startDate:
          description: Timestamp at which point the coupon becomes valid.
          format: date-time
          type: string
        expiryDate:
          description: "Expiry date of the coupon. Coupon never expires if this is\
            \ omitted, zero, or negative."
          format: date-time
          type: string
      type: object
    CodeGeneratorSettings:
      example:
        couponPattern: SUMMER-####-####
        validCharacters:
        - A
        - B
        - C
        - D
        - E
        - "2"
        - "0"
      properties:
        validCharacters:
          description: "List of characters used to generate the random parts of a\
            \ code. Defaults to a list equivalent to the\n`[A-Z, 0-9]` regexp.\n"
          example:
          - A
          - B
          - C
          - D
          - E
          - "2"
          - "0"
          items:
            type: string
          type: array
        couponPattern:
          description: |
            The pattern used to generate coupon codes. The character `#` is a placeholder and is replaced by a random character from the `validCharacters` set.
          example: SUMMER-####-####
          maxLength: 100
          minLength: 3
          type: string
      required:
      - couponPattern
      - validCharacters
      type: object
    Session:
      properties:
        userId:
          description: The ID of the user of this session.
          example: 109
          type: integer
        token:
          description: The token to use as a bearer token to query Management API
            endpoints.
          example: dy_Fa_lQ4iDAnqldJFvVEmnsN8xDTxej19l0LZDBJhQ
          type: string
        created:
          description: Unix timestamp indicating when the session was first created.
          format: date-time
          type: string
      required:
      - created
      - token
      - userId
      type: object
    LoginParams:
      description: ""
      properties:
        email:
          description: The email address associated with your account.
          example: john.doe@example.com
          format: email
          type: string
        password:
          description: The password for your account.
          example: admin123456
          type: string
      required:
      - email
      - password
      type: object
    AttributesMandatory:
      description: Arbitrary settings associated with attributes.
      properties:
        campaigns:
          description: List of mandatory attributes for campaigns.
          items:
            type: string
          type: array
        coupons:
          description: List of mandatory attributes for campaigns.
          items:
            type: string
          type: array
      type: object
    AttributesSettings:
      description: Arbitrary settings associated with attributes.
      properties:
        mandatory:
          $ref: '#/components/schemas/AttributesMandatory'
      type: object
    UpdateApplication:
      properties:
        name:
          description: The name of this application.
          example: My Application
          minLength: 1
          type: string
        description:
          description: A longer description of the application.
          example: A test Application
          type: string
        timezone:
          description: A string containing an IANA timezone descriptor.
          example: Europe/Berlin
          minLength: 1
          type: string
        currency:
          description: The default currency for new customer sessions.
          example: EUR
          minLength: 1
          type: string
        caseSensitivity:
          description: The case sensitivity behavior to check coupon codes in the
            campaigns of this Application.
          enum:
          - sensitive
          - insensitive-uppercase
          - insensitive-lowercase
          example: sensitive
          type: string
        attributes:
          description: Arbitrary properties associated with this campaign.
          properties: {}
          type: object
        limits:
          description: Default limits for campaigns created in this application.
          items:
            $ref: '#/components/schemas/LimitConfig'
          type: array
        campaignPriority:
          default: universal
          description: "Default [priority](https://docs.talon.one/docs/product/applications/setting-up-campaign-priorities)\
            \ for campaigns\ncreated in this Application.\n"
          enum:
          - universal
          - stackable
          - exclusive
          example: universal
          type: string
        exclusiveCampaignsStrategy:
          default: listOrder
          description: The strategy used when choosing exclusive campaigns for evaluation.
          enum:
          - listOrder
          - lowestDiscount
          - highestDiscount
          example: listOrder
          type: string
        defaultDiscountScope:
          description: |
            The default scope to apply `setDiscount` effects on if no scope was provided with the effect.
          enum:
          - sessionTotal
          - cartItems
          - additionalCosts
          type: string
        enableCascadingDiscounts:
          description: Indicates if discounts should cascade for this Application.
          type: boolean
        enableFlattenedCartItems:
          description: "Indicates if cart items of quantity larger than one should\
            \ be separated into different items of quantity one. See [the docs](https://docs.talon.one/docs/product/campaigns/campaign-evaluation/#flattened-cart-items).\n"
          type: boolean
        attributesSettings:
          $ref: '#/components/schemas/AttributesSettings'
        sandbox:
          description: Indicates if this is a live or sandbox Application.
          type: boolean
        enablePartialDiscounts:
          description: Indicates if this Application supports partial discounts.
          example: false
          type: boolean
        defaultDiscountAdditionalCostPerItemScope:
          description: |
            The default scope to apply `setDiscountPerItem` effects on if no scope was provided with the effect.
          enum:
          - price
          - itemTotal
          - additionalCosts
          type: string
      required:
      - currency
      - name
      - timezone
      type: object
    NewApplication:
      description: ""
      properties:
        name:
          description: The name of this application.
          example: My Application
          minLength: 1
          type: string
        description:
          description: A longer description of the application.
          example: A test Application
          type: string
        timezone:
          description: A string containing an IANA timezone descriptor.
          example: Europe/Berlin
          minLength: 1
          type: string
        currency:
          description: The default currency for new customer sessions.
          example: EUR
          minLength: 1
          type: string
        caseSensitivity:
          description: The case sensitivity behavior to check coupon codes in the
            campaigns of this Application.
          enum:
          - sensitive
          - insensitive-uppercase
          - insensitive-lowercase
          example: sensitive
          type: string
        attributes:
          description: Arbitrary properties associated with this campaign.
          properties: {}
          type: object
        limits:
          description: Default limits for campaigns created in this application.
          items:
            $ref: '#/components/schemas/LimitConfig'
          type: array
        campaignPriority:
          default: universal
          description: "Default [priority](https://docs.talon.one/docs/product/applications/setting-up-campaign-priorities)\
            \ for campaigns\ncreated in this Application.\n"
          enum:
          - universal
          - stackable
          - exclusive
          example: universal
          type: string
        exclusiveCampaignsStrategy:
          default: listOrder
          description: The strategy used when choosing exclusive campaigns for evaluation.
          enum:
          - listOrder
          - lowestDiscount
          - highestDiscount
          example: listOrder
          type: string
        defaultDiscountScope:
          description: |
            The default scope to apply `setDiscount` effects on if no scope was provided with the effect.
          enum:
          - sessionTotal
          - cartItems
          - additionalCosts
          type: string
        enableCascadingDiscounts:
          description: Indicates if discounts should cascade for this Application.
          type: boolean
        enableFlattenedCartItems:
          description: "Indicates if cart items of quantity larger than one should\
            \ be separated into different items of quantity one. See [the docs](https://docs.talon.one/docs/product/campaigns/campaign-evaluation/#flattened-cart-items).\n"
          type: boolean
        attributesSettings:
          $ref: '#/components/schemas/AttributesSettings'
        sandbox:
          description: Indicates if this is a live or sandbox Application.
          type: boolean
        enablePartialDiscounts:
          description: Indicates if this Application supports partial discounts.
          example: false
          type: boolean
        defaultDiscountAdditionalCostPerItemScope:
          description: |
            The default scope to apply `setDiscountPerItem` effects on if no scope was provided with the effect.
          enum:
          - price
          - itemTotal
          - additionalCosts
          type: string
        key:
          description: Hex key for HMAC-signing API calls as coming from this application
            (16 hex digits).
          pattern: "^[a-fA-F0-9]{16}$"
          type: string
      required:
      - currency
      - name
      - timezone
      type: object
    Application:
      description: ""
      properties:
        id:
          description: "Unique ID for this entity. Not to be confused with the Integration\
            \ ID, which is set by your integration layer and used in most endpoints."
          example: 6
          type: integer
        created:
          description: The exact moment this entity was created.
          example: 2020-06-10T09:05:27.993483Z
          format: date-time
          type: string
        modified:
          description: The exact moment this entity was last modified.
          example: 2021-09-12T10:12:42Z
          format: date-time
          type: string
        accountId:
          description: The ID of the account that owns this entity.
          example: 3886
          type: integer
        name:
          description: The name of this application.
          example: My Application
          minLength: 1
          type: string
        description:
          description: A longer description of the application.
          example: A test Application
          type: string
        timezone:
          description: A string containing an IANA timezone descriptor.
          example: Europe/Berlin
          minLength: 1
          type: string
        currency:
          description: The default currency for new customer sessions.
          example: EUR
          minLength: 1
          type: string
        caseSensitivity:
          description: The case sensitivity behavior to check coupon codes in the
            campaigns of this Application.
          enum:
          - sensitive
          - insensitive-uppercase
          - insensitive-lowercase
          example: sensitive
          type: string
        attributes:
          description: Arbitrary properties associated with this campaign.
          properties: {}
          type: object
        limits:
          description: Default limits for campaigns created in this application.
          items:
            $ref: '#/components/schemas/LimitConfig'
          type: array
        campaignPriority:
          default: universal
          description: "Default [priority](https://docs.talon.one/docs/product/applications/setting-up-campaign-priorities)\
            \ for campaigns\ncreated in this Application.\n"
          enum:
          - universal
          - stackable
          - exclusive
          example: universal
          type: string
        exclusiveCampaignsStrategy:
          default: listOrder
          description: The strategy used when choosing exclusive campaigns for evaluation.
          enum:
          - listOrder
          - lowestDiscount
          - highestDiscount
          example: listOrder
          type: string
        defaultDiscountScope:
          description: |
            The default scope to apply `setDiscount` effects on if no scope was provided with the effect.
          enum:
          - sessionTotal
          - cartItems
          - additionalCosts
          type: string
        enableCascadingDiscounts:
          description: Indicates if discounts should cascade for this Application.
          type: boolean
        enableFlattenedCartItems:
          description: "Indicates if cart items of quantity larger than one should\
            \ be separated into different items of quantity one. See [the docs](https://docs.talon.one/docs/product/campaigns/campaign-evaluation/#flattened-cart-items).\n"
          type: boolean
        attributesSettings:
          $ref: '#/components/schemas/AttributesSettings'
        sandbox:
          description: Indicates if this is a live or sandbox Application.
          type: boolean
        enablePartialDiscounts:
          description: Indicates if this Application supports partial discounts.
          example: false
          type: boolean
        defaultDiscountAdditionalCostPerItemScope:
          description: |
            The default scope to apply `setDiscountPerItem` effects on if no scope was provided with the effect.
          enum:
          - price
          - itemTotal
          - additionalCosts
          type: string
        loyaltyPrograms:
          description: An array containing all the loyalty programs to which this
            application is subscribed.
          items:
            $ref: '#/components/schemas/LoyaltyProgram'
          type: array
      required:
      - accountId
      - created
      - currency
      - id
      - loyaltyPrograms
      - modified
      - name
      - timezone
      type: object
    NewCampaignGroup:
      properties:
        name:
          description: The name of this campaign group.
          minLength: 1
          type: string
        description:
          description: A longer description of the campaign group.
          type: string
        subscribedApplicationsIds:
          description: A list of the IDs of the applications that this campaign group
            is enabled for.
          items:
            type: integer
          type: array
        campaignIds:
          description: A list of the IDs of the campaigns that this campaign group
            owns.
          items:
            type: integer
          type: array
      required:
      - name
      type: object
    CampaignGroup:
      description: ""
      properties:
        id:
          description: "Unique ID for this entity. Not to be confused with the Integration\
            \ ID, which is set by your integration layer and used in most endpoints."
          example: 6
          type: integer
        created:
          description: The exact moment this entity was created.
          example: 2020-06-10T09:05:27.993483Z
          format: date-time
          type: string
        modified:
          description: The exact moment this entity was last modified.
          example: 2021-09-12T10:12:42Z
          format: date-time
          type: string
        accountId:
          description: The ID of the account that owns this entity.
          example: 3886
          type: integer
        name:
          description: The name of this campaign group.
          minLength: 1
          type: string
        description:
          description: A longer description of the campaign group.
          type: string
        subscribedApplicationsIds:
          description: A list of the IDs of the applications that this campaign group
            is enabled for.
          items:
            type: integer
          type: array
        campaignIds:
          description: A list of the IDs of the campaigns that this campaign group
            owns.
          items:
            type: integer
          type: array
      required:
      - accountId
      - created
      - id
      - modified
      - name
      type: object
    UpdateCampaignGroup:
      description: ""
      properties:
        name:
          description: The name of this campaign group.
          minLength: 1
          type: string
        description:
          description: A longer description of the campaign group.
          type: string
        subscribedApplicationsIds:
          description: A list of the IDs of the applications that this campaign group
            is enabled for.
          items:
            type: integer
          type: array
        campaignIds:
          description: A list of the IDs of the campaigns that this campaign group
            owns.
          items:
            type: integer
          type: array
      required:
      - name
      type: object
    NewCampaign:
      properties:
        name:
          description: A user-facing name for this campaign.
          example: Summer promotions
          minLength: 1
          title: Campaign Name
          type: string
        description:
          description: A detailed description of the campaign.
          example: Campaign for all summer 2021 promotions
          title: Campaign Description
          type: string
        startTime:
          description: Timestamp when the campaign will become active.
          example: 2021-07-20T22:00:00Z
          format: date-time
          type: string
        endTime:
          description: Timestamp the campaign will become inactive.
          example: 2021-09-22T22:00:00Z
          format: date-time
          type: string
        attributes:
          description: Arbitrary properties associated with this campaign.
          properties: {}
          type: object
        state:
          default: enabled
          description: |
            A disabled or archived campaign is not evaluated for rules or coupons.
          enum:
          - enabled
          - disabled
          - archived
          type: string
        activeRulesetId:
          description: "[ID of Ruleset](https://docs.talon.one/management-api/#operation/getRulesets)\
            \ this\ncampaign applies on customer session evaluation.\n"
          type: integer
        tags:
          description: A list of tags for the campaign.
          example:
          - summer
          items:
            maxLength: 50
            minLength: 1
            type: string
          maxItems: 50
          type: array
        features:
          description: The features enabled in this campaign.
          example:
          - coupons
          - referrals
          items:
            enum:
            - coupons
            - referrals
            - loyalty
            - giveaways
            type: string
          type: array
        couponSettings:
          $ref: '#/components/schemas/CodeGeneratorSettings'
        referralSettings:
          $ref: '#/components/schemas/CodeGeneratorSettings'
        limits:
          description: "The set of [budget limits](https://docs.talon.one/docs/product/campaigns/settings/managing-campaign-budgets/)\
            \ for this campaign.\n"
          items:
            $ref: '#/components/schemas/LimitConfig'
          type: array
        campaignGroups:
          description: "The IDs of the [campaign groups](https://docs.talon.one/docs/product/account/managing-campaign-groups/)\
            \ this campaign belongs to.\n"
          example:
          - 1
          - 3
          items:
            type: integer
          type: array
      required:
      - features
      - limits
      - name
      - state
      - tags
      type: object
    UpdateCampaign:
      properties:
        name:
          description: A user-facing name for this campaign.
          minLength: 1
          title: Campaign Name
          type: string
        description:
          description: A detailed description of the campaign.
          title: Campaign Description
          type: string
        startTime:
          description: Timestamp when the campaign will become active.
          format: date-time
          type: string
        endTime:
          description: Timestamp when the campaign will become inactive.
          format: date-time
          type: string
        attributes:
          description: Arbitrary properties associated with this campaign.
          properties: {}
          type: object
        state:
          default: enabled
          description: |
            A disabled or archived campaign is not evaluated for rules or coupons.
          enum:
          - enabled
          - disabled
          - archived
          type: string
        activeRulesetId:
          description: ID of Ruleset this campaign applies on customer session evaluation.
          type: integer
        tags:
          description: A list of tags for the campaign.
          items:
            maxLength: 50
            minLength: 1
            type: string
          maxItems: 50
          type: array
        features:
          description: A list of features for the campaign.
          items:
            enum:
            - coupons
            - referrals
            - loyalty
            - giveaways
            type: string
          type: array
        couponSettings:
          $ref: '#/components/schemas/CodeGeneratorSettings'
        referralSettings:
          $ref: '#/components/schemas/CodeGeneratorSettings'
        limits:
          description: The set of limits that will operate for this campaign.
          items:
            $ref: '#/components/schemas/LimitConfig'
          type: array
        campaignGroups:
          description: The IDs of the campaign groups that own this entity.
          items:
            type: integer
          type: array
      required:
      - features
      - limits
      - name
      - tags
      type: object
    Campaign:
      description: ""
      example:
        callApiEffectCount: 0
        createdLoyaltyPointsEffectCount: 2
        discountCount: 288
        description: Campaign for all summer 2021 promotions
        templateId: 3
        customEffectCount: 0
        features:
        - coupons
        - referrals
        createdLoyaltyPointsCount: 9
        couponSettings:
          couponPattern: SUMMER-####-####
          validCharacters:
          - A
          - B
          - C
          - D
          - E
          - "2"
          - "0"
        startTime: 2021-07-20T22:00:00Z
        id: 3
        state: enabled
        limits:
        - period: yearly
          entities:
          - Coupon
          limit: 1000
          action: createCoupon
        - period: yearly
          entities:
          - Coupon
          limit: 1000
          action: createCoupon
        activeRulesetId: 4
        updatedBy: Jane Doe
        created: 2000-01-23T04:56:07.000+00:00
        referralCreationCount: 8
        couponRedemptionCount: 163
        userId: 2
        couponCreationCount: 16
        campaignGroups:
        - 1
        - 3
        tags:
        - summer
        awardedGiveawaysCount: 9
        redeemedLoyaltyPointsEffectCount: 9
        discountEffectCount: 343
        createdBy: John Doe
        redeemedLoyaltyPointsCount: 8
        addFreeItemEffectCount: 0
        name: Summer promotions
        referralSettings:
          couponPattern: SUMMER-####-####
          validCharacters:
          - A
          - B
          - C
          - D
          - E
          - "2"
          - "0"
        attributes: "{}"
        lastActivity: 2022-11-10T23:00:00Z
        endTime: 2021-09-22T22:00:00Z
        applicationId: 322
        referralRedemptionCount: 3
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Unique ID for this entity.
          type: integer
        created:
          description: The exact moment this entity was created.
          format: date-time
          type: string
        applicationId:
          description: The ID of the application that owns this entity.
          example: 322
          type: integer
        userId:
          description: The ID of the account that owns this entity.
          type: integer
        name:
          description: A user-facing name for this campaign.
          example: Summer promotions
          minLength: 1
          title: Campaign Name
          type: string
        description:
          description: A detailed description of the campaign.
          example: Campaign for all summer 2021 promotions
          title: Campaign Description
          type: string
        startTime:
          description: Timestamp when the campaign will become active.
          example: 2021-07-20T22:00:00Z
          format: date-time
          type: string
        endTime:
          description: Timestamp the campaign will become inactive.
          example: 2021-09-22T22:00:00Z
          format: date-time
          type: string
        attributes:
          description: Arbitrary properties associated with this campaign.
          properties: {}
          type: object
        state:
          default: enabled
          description: |
            A disabled or archived campaign is not evaluated for rules or coupons.
          enum:
          - enabled
          - disabled
          - archived
          type: string
        activeRulesetId:
          description: "[ID of Ruleset](https://docs.talon.one/management-api/#operation/getRulesets)\
            \ this\ncampaign applies on customer session evaluation.\n"
          type: integer
        tags:
          description: A list of tags for the campaign.
          example:
          - summer
          items:
            maxLength: 50
            minLength: 1
            type: string
          maxItems: 50
          type: array
        features:
          description: The features enabled in this campaign.
          example:
          - coupons
          - referrals
          items:
            enum:
            - coupons
            - referrals
            - loyalty
            - giveaways
            type: string
          type: array
        couponSettings:
          $ref: '#/components/schemas/CodeGeneratorSettings'
        referralSettings:
          $ref: '#/components/schemas/CodeGeneratorSettings'
        limits:
          description: "The set of [budget limits](https://docs.talon.one/docs/product/campaigns/settings/managing-campaign-budgets/)\
            \ for this campaign.\n"
          items:
            $ref: '#/components/schemas/LimitConfig'
          type: array
        campaignGroups:
          description: "The IDs of the [campaign groups](https://docs.talon.one/docs/product/account/managing-campaign-groups/)\
            \ this campaign belongs to.\n"
          example:
          - 1
          - 3
          items:
            type: integer
          type: array
        couponRedemptionCount:
          description: Number of coupons redeemed in the campaign.
          example: 163
          type: integer
        referralRedemptionCount:
          description: Number of referral codes redeemed in the campaign.
          example: 3
          type: integer
        discountCount:
          description: Total amount of discounts redeemed in the campaign.
          example: 288
          type: number
        discountEffectCount:
          description: Total number of times discounts were redeemed in this campaign.
          example: 343
          type: integer
        couponCreationCount:
          description: Total number of coupons created by rules in this campaign.
          example: 16
          type: integer
        customEffectCount:
          description: Total number of custom effects triggered by rules in this campaign.
          example: 0
          type: integer
        referralCreationCount:
          description: Total number of referrals created by rules in this campaign.
          example: 8
          type: integer
        addFreeItemEffectCount:
          description: Total number of times triggering add free item effext is allowed
            in this campaign.
          example: 0
          type: integer
        awardedGiveawaysCount:
          description: Total number of giveaways awarded by rules in this campaign.
          example: 9
          type: integer
        createdLoyaltyPointsCount:
          description: Total number of loyalty points created by rules in this campaign.
          example: 9
          type: number
        createdLoyaltyPointsEffectCount:
          description: Total number of loyalty point creation effects triggered by
            rules in this campaign.
          example: 2
          type: integer
        redeemedLoyaltyPointsCount:
          description: Total number of loyalty points redeemed by rules in this campaign.
          example: 8
          type: number
        redeemedLoyaltyPointsEffectCount:
          description: Total number of loyalty point redemption effects triggered
            by rules in this campaign.
          example: 9
          type: integer
        callApiEffectCount:
          description: Total number of webhook triggered by rules in this campaign.
          example: 0
          type: integer
        lastActivity:
          description: Timestamp of the most recent event received by this campaign.
          example: 2022-11-10T23:00:00Z
          format: date-time
          type: string
        updated:
          description: "Timestamp of the most recent update to the campaign's property.\
            \ Updates to external entities used in this campaign\nare **not** registered\
            \ by this property, such as collection or coupon updates.\n"
          format: date-time
          type: string
        createdBy:
          description: Name of the user who created this campaign if available.
          example: John Doe
          type: string
        updatedBy:
          description: Name of the user who last updated this campaign if available.
          example: Jane Doe
          type: string
        templateId:
          description: The ID of the Campaign Template this Campaign was created from.
          example: 3
          type: integer
      required:
      - applicationId
      - created
      - description
      - features
      - id
      - limits
      - name
      - state
      - tags
      - userId
      type: object
    NewRuleset:
      properties:
        rules:
          description: Set of rules to apply.
          items:
            $ref: '#/components/schemas/Rule'
          type: array
        bindings:
          description: An array that provides objects with variable names (name) and
            talang expressions to whose result they are bound (expression) during
            rule evaluation. The order of the evaluation is decided by the position
            in the array.
          example: []
          items:
            $ref: '#/components/schemas/Binding'
          type: array
        rbVersion:
          description: The version of the rulebuilder used to create this ruleset.
          example: v2
          type: string
        activate:
          description: Indicates whether this created ruleset should be activated
            for the campaign that owns it.
          type: boolean
      required:
      - bindings
      - rules
      type: object
    Ruleset:
      description: ""
      properties:
        id:
          description: "Unique ID for this entity. Not to be confused with the Integration\
            \ ID, which is set by your integration layer and used in most endpoints."
          example: 6
          type: integer
        created:
          description: The exact moment this entity was created.
          example: 2020-06-10T09:05:27.993483Z
          format: date-time
          type: string
        userId:
          description: The ID of the account that owns this entity.
          type: integer
        rules:
          description: Set of rules to apply.
          items:
            $ref: '#/components/schemas/Rule'
          type: array
        bindings:
          description: An array that provides objects with variable names (name) and
            talang expressions to whose result they are bound (expression) during
            rule evaluation. The order of the evaluation is decided by the position
            in the array.
          example: []
          items:
            $ref: '#/components/schemas/Binding'
          type: array
        rbVersion:
          description: The version of the rulebuilder used to create this ruleset.
          example: v2
          type: string
        activate:
          description: Indicates whether this created ruleset should be activated
            for the campaign that owns it.
          type: boolean
        campaignId:
          description: The ID of the campaign that owns this entity.
          example: 320
          title: Campaign ID
          type: integer
        templateId:
          description: The ID of the campaign template that owns this entity.
          example: 3
          title: Campaign Template ID
          type: integer
        activatedAt:
          description: Timestamp indicating when this Ruleset was activated.
          format: date-time
          type: string
      required:
      - bindings
      - created
      - id
      - rules
      - userId
      type: object
    Binding:
      properties:
        name:
          description: A descriptive name for the value to be bound.
          example: my property
          type: string
        type:
          description: |
            The kind of binding. Possible values are:
            - `bundle`
            - `cartItemFilter`
            - `subledgerBalance`
            - `templateParameter`
          example: templateParameter
          type: string
        expression:
          description: A Talang expression that will be evaluated and its result attached
            to the name of the binding.
          items:
            properties: {}
            type: object
          type: array
        valueType:
          description: |
            Can be one of the following:
            - `string`
            - `number`
            - `boolean`
          example: string
          type: string
      required:
      - expression
      - name
      type: object
    Rule:
      properties:
        title:
          description: A short description of the rule.
          example: Give discount via coupon
          type: string
        description:
          description: "A longer, more detailed description of the rule."
          example: Creates a discount when a coupon is valid
          type: string
        bindings:
          description: An array that provides objects with variable names (name) and
            talang expressions to whose result they are bound (expression) during
            rule evaluation. The order of the evaluation is decided by the position
            in the array.
          items:
            $ref: '#/components/schemas/Binding'
          type: array
        condition:
          description: A Talang expression that will be evaluated in the context of
            the given event.
          example:
          - and
          - - couponValid
          items:
            properties: {}
            type: object
          minItems: 1
          type: array
        effects:
          description: An array of effectful Talang expressions in arrays that will
            be evaluated when a rule matches.
          example:
          - catch
          - - noop
          - - setDiscount
            - 10% off
            - - '*'
              - - "."
                - Session
                - Total
              - - /
                - 10
                - 100
          items:
            properties: {}
            type: object
          type: array
      required:
      - condition
      - effects
      - title
      type: object
    TemplateLimitConfig:
      description: ""
      properties:
        action:
          description: |
            The limitable action to which this limit applies. For example:
            - `setDiscount`
            - `setDiscountEffect`
            - `redeemCoupon`
            - `createCoupon`
          example: createCoupon
          type: string
        limit:
          description: The value to set for the limit.
          example: 1000
          minimum: 0
          type: number
        period:
          description: The period on which the budget limit recurs.
          enum:
          - daily
          - weekly
          - monthly
          - yearly
          example: yearly
          type: string
        entities:
          description: The entity that this limit applies to.
          example:
          - Coupon
          items:
            enum:
            - Coupon
            - Referral
            - Profile
            - Identifier
            type: string
          type: array
      required:
      - action
      - entities
      - limit
      type: object
    LimitConfig:
      example:
        period: yearly
        entities:
        - Coupon
        limit: 1000
        action: createCoupon
      properties:
        action:
          description: |
            The limitable action to which this limit applies. For example:
            - `setDiscount`
            - `setDiscountEffect`
            - `redeemCoupon`
            - `createCoupon`
          example: createCoupon
          type: string
        limit:
          description: The value to set for the limit.
          example: 1000
          minimum: 0
          type: number
        period:
          description: The period on which the budget limit recurs.
          enum:
          - daily
          - weekly
          - monthly
          - yearly
          example: yearly
          type: string
        entities:
          description: The entity that this limit applies to.
          example:
          - Coupon
          items:
            enum:
            - Coupon
            - Referral
            - Profile
            - Identifier
            type: string
          type: array
      required:
      - action
      - entities
      - limit
      type: object
    CampaignSet:
      description: ""
      properties:
        id:
          description: "Unique ID for this entity. Not to be confused with the Integration\
            \ ID, which is set by your integration layer and used in most endpoints."
          example: 6
          type: integer
        created:
          description: The exact moment this entity was created.
          example: 2020-06-10T09:05:27.993483Z
          format: date-time
          type: string
        applicationId:
          description: The ID of the application that owns this entity.
          example: 322
          type: integer
        version:
[...]
